<div id="subscribe" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/email/subscribe.less</em>, <em>assets/js/pages/email/subscribe.page.js</em>, and <em>api/controllers/email/view-subscribe.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
