<div id="unsubscribe" v-cloak class="min-vh-100 bg-gray-lighter">
  <div class="container">
    <h1 class="headline font-weight-bold text-center py-3 mb-3">
      Unsubscribe from ChinesePod Emails
    </h1>
    <div class="text-center card p-5 mb-4 col-lg-8 offset-lg-2">
      <div class="row">
        <div class="col-12">
          <p class="text-left">
            You're about to unsubscribe <span class="font-weight-bold">{{ email }}</span> from our email message lists.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center pt-5">
          <ajax-form action="unsubscribeUser" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" >
            <ajax-button type="submit" :syncing="syncing" class="btn btn-lg btn-danger px-5">Unsubscribe</ajax-button>
          </ajax-form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
