<div id="answer-success" class="min-vh-100 bg-gray-lighter" v-cloak>
  <div class="container p-3">
    <h1 class="headline font-weight-bold text-center py-4">
      Thank you!
    </h1>
    <div class="card col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 p-5">
      <h4 class="font-weight-bold text-center py-2">
        Thank You For Your Feedback. You are helping us create
        a better ChinesePod experience!
      </h4>
      <h5 class="text-center p-5">
        Your answer has been saved</h5>
      <p>If you have any questions,
        please drop us an email at <a href="mailto:support@chinesepod.com">support@chinesepod.com</a>
      </p>
      <a href="/home" class="btn btn-success"><i class="fa fa-home"></i> Back to Dashboard</a>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
