<div id="logos" v-cloak class="bg-gray">
  <div class="container">
    <div class="col-sm-12 pt-2">
      <h1>Logos and Brand Guidelines</h1><br>
      <div class="row">

        <!--        COLOR-->

        <div class="col-sm-6 col-lg-4">
          <div class="card p-2 m-4">
            <img class="card-img-top img-fluid p-3" src="/images/brand/brand.svg" alt="ChinesePod Horizontal Logo White Background">
            <div class="card-body">
              <h5 class="card-title">Horizontal Logo</h5>
              <div class="card-text">
                <a href="/images/ci/CMYK/Chinesepod_Horizontal_Logo_CMYK.jpg" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> CMYK</a>
                <a href="/images/ci/RGB/Chinesepod_Horizontal_Logo_RGB.png" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> RGB</a>
                <a href="/images/brand/brand.svg" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> SVG</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card p-2 m-4">
            <img class="card-img-top img-fluid p-3 w-50 mx-auto" src="/images/brand/stack.svg" alt="ChinesePod Stack Logo White Background">
            <div class="card-body">
              <h5 class="card-title">Stack Logo</h5>
              <div class="card-text">
                <a href="/images/ci/CMYK/Chinesepod_Stack_Logo_CMYK.jpg" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> CMYK</a>
                <a href="/images/ci/RGB/Chinesepod_Stack_Logo_RGB.png" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> RGB</a>
                <a href="/images/brand/stack.svg" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> SVG</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card p-2 m-4">
            <img class="card-img-top img-fluid p-3 w-50 mx-auto" src="/images/brand/symbol.svg" alt="ChinesePod Symbol White Background" >
            <div class="card-body">
              <h5 class="card-title">Symbol Logo</h5>
              <div class="card-text">
                <a href="/images/ci/CMYK/Chinesepod_Symbol_CMYK.jpg" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> CMYK</a>
                <a href="/images/ci/RGB/Chinesepod_Symbol_RGB.png" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> RGB</a>
                <a href="/images/brand/symbol.svg" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> SVG</a>
              </div>
            </div>
          </div>
        </div>

        <!--        BLACK-->

        <div class="col-sm-6 col-lg-4">
          <div class="card p-2 m-4">
            <img class="card-img-top img-fluid p-3" src="/images/brand/brand-black.svg" alt="ChinesePod Horizontal Logo in Black on White Background">
            <div class="card-body">
              <h5 class="card-title">Horizontal Logo Black</h5>
              <div class="card-text">
                <a href="/images/ci/CMYK/Chinesepod_Horizontal_Logo_Black_CMYK.jpg" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> CMYK</a>
                <a href="/images/ci/RGB/Chinesepod_Horizontal_Logo_Black_RGB.png" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> RGB</a>
                <a href="/images/brand/brand-black.svg" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> SVG</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card p-2 m-4">
            <img class="card-img-top img-fluid p-3 w-50 mx-auto" src="/images/brand/stack-black.svg" alt="ChinesePod Stack Logo in Black on White Background">
            <div class="card-body">
              <h5 class="card-title">Stack Logo Black</h5>
              <div class="card-text">
                <a href="/images/ci/CMYK/Chinesepod_Stack_Logo_Black_CMYK.jpg" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> CMYK</a>
                <a href="/images/ci/RGB/Chinesepod_Stack_Logo_Black_RGB.png" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> RGB</a>
                <a href="/images/brand/stack-black.svg" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> SVG</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card p-2 m-4">
            <img class="card-img-top img-fluid p-3 w-50 mx-auto" src="/images/brand/symbol-black.svg" alt="ChinesePod Symbol in Black on White Background" >
            <div class="card-body">
              <h5 class="card-title">Symbol Logo Black</h5>
              <div class="card-text">
                <a href="/images/ci/CMYK/Chinesepod_Symbol_Black_CMYK.jpg" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> CMYK</a>
                <a href="/images/ci/RGB/Chinesepod_Symbol_Black_RGB.png" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> RGB</a>
                <a href="/images/brand/symbol-black.svg" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> SVG</a>
              </div>
            </div>
          </div>
        </div>

        <!--        WHITE-->

        <div class="col-sm-6 col-lg-4">
          <div class="card p-2 m-4">
            <img class="card-img-top img-fluid p-3 bg-dark" src="/images/brand/brand-white.svg" alt="ChinesePod Horizontal Logo in White on Gray  Background">
            <div class="card-body">
              <h5 class="card-title">Horizontal Logo White</h5>
              <div class="card-text">
                <a href="/images/ci/CMYK/Chinesepod_Horizontal_Logo_White_CMYK.jpg" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> CMYK</a>
                <a href="/images/ci/RGB/Chinesepod_Horizontal_Logo_White_RGB.png" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> RGB</a>
                <a href="/images/brand/brand-white.svg" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> SVG</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card p-2 m-4">
            <img class="card-img-top img-fluid p-3 w-50 mx-auto bg-dark" src="/images/brand/stack-white.svg" alt="ChinesePod Stack Logo in White on Gray  Background">
            <div class="card-body">
              <h5 class="card-title">Stack Logo White</h5>
              <div class="card-text">
                <a href="/images/ci/CMYK/Chinesepod_Stack_Logo_White_CMYK.jpg" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> CMYK</a>
                <a href="/images/ci/RGB/Chinesepod_Stack_Logo_White_RGB.png" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> RGB</a>
                <a href="/images/brand/stack-white.svg" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> SVG</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card p-2 m-4">
            <img class="card-img-top img-fluid p-3 w-50 mx-auto bg-dark" src="/images/brand/symbol-white.svg" alt="ChinesePod Symbol in White on Gray Background" >
            <div class="card-body">
              <h5 class="card-title">Symbol Logo White</h5>
              <div class="card-text">
                <a href="/images/ci/CMYK/Chinesepod_Symbol_White_CMYK.jpg" download class="btn btn-primary btn-block"><i class="fa fa-download"></i> CMYK</a>
                <a href="/images/ci/RGB/Chinesepod_Symbol_White_RGB.png" download class="btn btn-primary btn-block"><i class="fa fa-download"></i> RGB</a>
                <a href="/images/brand/symbol-white.svg" download class="btn btn-primary btn-block" target="_blank" role="button"><i class="fa fa-download"></i> SVG</a>
              </div>
            </div>
          </div>
        </div>


        <!--        FILES-->

        <div class="col-sm-6 col-lg-3">
          <div class="card p-2 m-4">
            <div class="card-img-top text-center display-1">
              <i class="fa fa-file"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Logos Vector CMYK</h5>
              <div class="card-text text-center">
                <code>.ai | 0.40 MB</code>
                <a href="/images/ci/Chinesepod_Logo_CMYK.ai" download class="btn btn-primary btn-block" target="_blank" role="button">Download</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card p-2 m-4">
            <div class="card-img-top text-center display-1">
              <i class="fa fa-file"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Logos Vector RGB</h5>
              <div class="card-text text-center">
                <code>.ai | 0.40 MB</code>
                <a href="/images/ci/Chinesepod_Logo_RGB.ai" download class="btn btn-primary btn-block" target="_blank" role="button">Download</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card p-2 m-4">
            <div class="card-img-top text-center display-1">
              <i class="fa fa-file"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Logos Vector Pantone</h5>
              <div class="card-text text-center">
                <code>.ai | 0.40 MB</code>
                <a href="/images/ci/Chinesepod_Logo_Pantone.ai" download class="btn btn-primary btn-block" target="_blank" role="button">Download</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card p-2 m-4">
            <div class="card-img-top text-center display-1">
              <i class="fa fa-file"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Brand Guidelines</h5>
              <div class="card-text text-center">
                <code>.pdf | 8.10 MB</code>
                <a href="https://s3.us-east-2.amazonaws.com/chinesepod-ci/BrandGuidelines.pdf" download class="btn btn-primary btn-block" target="_blank" role="button">Download</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card p-2 m-4">
            <div class="card-img-top text-center display-1">
              <i class="fa fa-archive"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Typography</h5>
              <div class="card-text text-center">
                <code>.zip | 116 MB</code>
                <a href="https://s3.us-east-2.amazonaws.com/chinesepod-ci/Typographies.zip" download class="btn btn-primary btn-block" target="_blank" role="button">Download</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card p-2 m-4">
            <div class="card-img-top text-center display-1">
              <i class="fa fa-archive"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">All Materials</h5>
              <div class="card-text text-center">
                <code>.zip | 119 MB</code>
                <a href="https://s3.us-east-2.amazonaws.com/chinesepod-ci/CIS_ChinesePod.zip" download class="btn btn-primary btn-block" target="_blank" role="button">Download</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
