packages:
    yum:
        git: []

commands:
    01_node_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
        command: 'yum install -y nodejs --enablerepo=epel'
    02_npm_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
        command: 'curl -L http://npmjs.org/install.sh | sh'
    03_node_update:
        cwd: /tmp
        test: '[ ! -f /usr/bin/n ] && echo "node not updated"'
        command: 'npm install -g n && n stable'
    04_sails_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/sails ] && echo "sails not installed"'
        command: 'npm install -g sails'

option_settings:
    "aws:elasticbeanstalk:application:environment":
        NODE_ENV: production
        sails_environment: production

    "aws:elasticbeanstalk:container:nodejs":
        NodeCommand: "sails lift --prod"
    "aws:elasticbeanstalk:container:nodejs:staticfiles":
        /static: /static
    "aws:autoscaling:asg":
        Cooldown: "120"
    "aws:autoscaling:trigger":
        Unit: "Percent"
        Period: "1"
        BreachDuration: "2"
        UpperThreshold: "75"
        LowerThreshold: "30"
        MeasureName: "CPUUtilization"

# These commands will be run just before the application is started
container_commands:
