packages:
    yum:
        git: []

commands:
    01_node_binary:
        command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /usr/bin/node"
        test: test ! -L /usr/bin/node
    02_npm_binary:
        command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/npm /usr/bin/npm"
        test: test ! -L /usr/bin/npm
    03_sails_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/sails ] && echo "sails not installed"'
        command: 'npm install -g sails'
    04-installGrunt:
        command: 'npm install -g grunt-cli'
    05-explain-grunt:
        command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/grunt /usr/bin/grunt"
        test: test ! -L /usr/bin/grunt
    08-install-N:
        command: 'npm install -g n'
option_settings:
    "aws:elasticbeanstalk:application:environment":
        NODE_ENV: production
        sails_environment: development
    "aws:elasticbeanstalk:container:nodejs":
        NodeCommand: "npm run start:dev"
    "aws:elasticbeanstalk:container:nodejs:staticfiles":
        /static: /assets
    "aws:autoscaling:asg":
        Cooldown: "120"
    "aws:autoscaling:trigger":
        Unit: "Percent"
        Period: "1"
        BreachDuration: "2"
        UpperThreshold: "75"
        LowerThreshold: "30"
        MeasureName: "CPUUtilization"

# These commands will be run just before the application is started
container_commands:
