<div id="promo" v-cloak class="pt-3 kings-day-promo">
  <div class="mx-3">
    <div class="container">
      <div class="row">
        <div class="col-12 my-4">
          <img class="img-fluid w-100" src="/images/promotions/kings_day_header.png" alt="PROMOTION BANNER">
        </div>
        <div class="col-12 my-3">
          <h1 class="text-center font-weight-bold">Happy Birthday to the King! Get <span class="text-danger font-weight-bold">25% Off</span> at ChinesePod Now!</h1>
        </div>
        <div class="col-12 my-3 text-center">
          <h2 class="">
            To celebrate the King's Day, we are excited to offer 25% off for your ChinesePod subscription!
          </h2>
          <h2 class="">
            Get it now and start exploring!
          </h2>
        </div>

        <%- partial('../../../partials/checkout-form.ejs') %>

        <div class="col-10 offset-1 col-md-4 offset-md-4 my-4">
          <img class="img-fluid" src="/images/brand/brand-white.svg" alt="ChinesePod" loading="lazy">
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://js.stripe.com/v3/"></script>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
