<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">

    <!-- Page Styles -->
    <link href="/recap/cprecap-styles.css" rel="stylesheet">
    <title>ChinesePod - RECAP APP - Sign up</title>

    <script src="https://vuejs.org/js/vue.min.js"></script>
    <!-- Vue.js development version, includes helpful console warnings
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
</head>
<body id="recap-beta-signup">
<!--Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light cprecap-navbar">
    <a class="navbar-brand" href="https://www.chinesepod.com/">
        <img src="/recap/img/logo-text-recap.svg" alt="ChinesePod">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-end" id="navbarNav">
        <ul class="navbar-nav mt-2">
            <li class="nav-item">
                <a class="nav-link" href="https://www.chinesepod.com/contact">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.chinesepod.com/login">Log in</a>
            </li>
        </ul>
        <form class="form-inline mt-2">
            <a class="btn btn-outline-success" role="button" href="https://www.chinesepod.com/signup">Sign Up</a>
        </form>
    </div>
</nav>
<!-- End Navbar -->

<!-- Writing APP page -->
<section class="cprecap-singup" id="recap-signup">
    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="col-11 text-center">
                <h1 class="text-white mb-3">ChinesePod RECAP APP</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-11 col-md-10 col-lg-8 cprecap-singup-body">
                <form v-show="!submitted" style="width: 100%;">
                    <div class="pl-4 pr-4 pt-4 pb-2 ml-3 mr-3">
                        <h3>Sign up</h3>
                        <p>as a beta tester and receive a voucher for 3 months premium access right away!</p>
                        <!--                        <p class="text-danger">* Required</p>-->
                    </div>
                    <div class="card m-3">
                        <div class="card-header bg-danger text-white">
                            Preferred Device
                        </div>
                        <div class="card-body">
                            <div class="form-group pt-2 pl-2 pr-2">
                                <h4 class="mb-3">What devices do you use to access ChinesePod?</h4>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="usedDevises1" name="usedDevises" class="custom-control-input" value="OnlyLaptop" v-model="formData.devices.choice">
                                    <label class="custom-control-label" for="usedDevises1">Only laptop</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="usedDevises2" name="usedDevises" class="custom-control-input" value="MostlyLaptop" v-model="formData.devices.choice">
                                    <label class="custom-control-label" for="usedDevises2">Mostly laptop</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="usedDevises3" name="usedDevises" class="custom-control-input" value="MostlyMobile" v-model="formData.devices.choice">
                                    <label class="custom-control-label" for="usedDevises3">Mostly mobile</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="usedDevises4" name="usedDevises" class="custom-control-input" value="OnlyMobile" v-model="formData.devices.choice">
                                    <label class="custom-control-label" for="usedDevises4">Only mobile</label>
                                </div>
                            </div>
                            <div class="form-group pt-2 pl-2 pr-2 pb-2">
                                <label for="usedDevisesComment">COMMENTS:</label>
                                <textarea class="form-control" id="usedDevisesComment" rows="3" v-model="formData.devices.comments"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card m-3">
                        <div class="card-header bg-danger text-white">
                            ChinesePod APPs
                        </div>
                        <div class="card-body">
                            <div class="form-group pt-2 py-0">
                                <h4 class="mb-3">What ChinesePod APPs have you tried or work with?</h4>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-borderless table-responsive">
                                    <tbody>
                                    <tr>
                                        <th scope="col" class="text-center">&nbsp;</th>
                                        <th scope="col" class="text-center">Work regularly with</th>
                                        <th scope="col" class="text-center">Work occasionally with</th>
                                        <th scope="col" class="text-center">Installed but uninstalled</th>
                                        <th scope="col" class="text-center">Have never worked with</th>
                                    </tr>
                                    <tr class="bg-light">
                                        <th scope="row">ChinesePod Recap APP</th>
                                        <td class="text-center">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="useRecap5" name="recapApp" class="custom-control-input" value="Regular" v-model="formData.apps.recap">
                                                <label class="custom-control-label" for="useRecap5"></label></div></td>
                                        <td class="text-center">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="useRecap4" name="recapApp" class="custom-control-input" value="Occasional" v-model="formData.apps.recap">
                                                <label class="custom-control-label" for="useRecap4"></label></div></td>
                                        <td class="text-center">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="useRecap3" name="recapApp" class="custom-control-input" value="Uninstalled" v-model="formData.apps.recap">
                                                <label class="custom-control-label" for="useRecap3"></label></div></td>
                                        <td class="text-center">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="useRecap2" name="recapApp" class="custom-control-input" value="Never" v-model="formData.apps.recap">
                                                <label class="custom-control-label" for="useRecap2"></label></div></td>
                                    </tr>
                                    <tr class="bg-light">
                                        <th scope="row">ChinesePod Next</th>
                                        <td class="text-center">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="useNext5" name="nextApp" class="custom-control-input" value="Regular" v-model="formData.apps.next">
                                                <label class="custom-control-label" for="useNext5"></label></div></td>
                                        <td class="text-center">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="useNext4" name="nextApp" class="custom-control-input" value="Occasional" v-model="formData.apps.next">
                                                <label class="custom-control-label" for="useNext4"></label></div></td>
                                        <td class="text-center">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="useNext3" name="nextApp" class="custom-control-input" value="Uninstalled" v-model="formData.apps.next">
                                                <label class="custom-control-label" for="useNext3"></label></div></td>
                                        <td class="text-center">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="useNext2" name="nextApp" class="custom-control-input" value="Never" v-model="formData.apps.next">
                                                <label class="custom-control-label" for="useNext2"></label></div></td>
                                    </tr>
                                    <tr class="bg-light">
                                        <th scope="row">ChinesePod Pinyin</th>
                                        <td class="text-center">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="usePinyin5" name="pinyinApp" class="custom-control-input" value="Regular" v-model="formData.apps.pinyin">
                                                <label class="custom-control-label" for="usePinyin5"></label></div></td>
                                        <td class="text-center">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="usePinyin4" name="pinyinApp" class="custom-control-input" value="Occasional" v-model="formData.apps.pinyin">
                                                <label class="custom-control-label" for="usePinyin4"></label></div></td>
                                        <td class="text-center">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="usePinyin3" name="pinyinApp" class="custom-control-input" value="Uninstalled" v-model="formData.apps.pinyin">
                                                <label class="custom-control-label" for="usePinyin3"></label></div></td>
                                        <td class="text-center">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="usePinyin2" name="pinyinApp" class="custom-control-input" value="Never" v-model="formData.apps.pinyin">
                                                <label class="custom-control-label" for="usePinyin2"></label></div></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group pt-2 pl-2 pr-2 pb-2">
                                <label for="usedDevisesComment">COMMENTS:</label>
                                <textarea class="form-control" id="usedDevisesComment" rows="3" v-model="formData.apps.comment"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card m-3">
                        <div class="card-header bg-danger text-white">
                            How Do You Learn
                        </div>
                        <div class="card-body">
                            <div class="form-group pt-2 pl-2 pr-2">
                                <h4 class="mb-3">How do you learn Chinese?</h4>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="usedMethods1" name="usedMethods" class="custom-control-input" value="ThroughChinesePod" v-model="formData.methods.choice">
                                    <label class="custom-control-label" for="usedMethods1">Through ChinesePod</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="usedMethods2" name="usedMethods" class="custom-control-input" value="UniversityClasses" v-model="formData.methods.choice">
                                    <label class="custom-control-label" for="usedMethods2">I take classes at a language school or university</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="usedMethods3" name="usedMethods" class="custom-control-input" value="OnlineClasses" v-model="formData.methods.choice">
                                    <label class="custom-control-label" for="usedMethods3">I follow online classes</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="usedMethods4" name="usedMethods" class="custom-control-input" value="PrivateTutor" v-model="formData.methods.choice">
                                    <label class="custom-control-label" for="usedMethods4">I have a private instructor</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="usedMethods5" name="usedMethods" class="custom-control-input" value="OtherLanguageLearningServices" v-model="formData.methods.choice">
                                    <label class="custom-control-label" for="usedMethods5">I use other language learning services</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="usedMethods6" name="usedMethods" class="custom-control-input" value="Other" v-model="formData.methods.choice">
                                    <label class="custom-control-label" for="usedMethods6">Other: </label>
                                    <input v-if="formData.methods.choice==='Other'" type="text" placeholder="Your Method" class="form-control" id="usedMethodsOther" v-model="formData.methods.text">
                                </div>
                            </div>
                            <div class="form-group pt-2 pl-2 pr-2 pb-2">
                                <label for="usedMethodsComment">COMMENTS:</label>
                                <textarea class="form-control" id="usedMethodsComment" rows="3" v-model="formData.methods.comments"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card m-3">
                        <div class="card-header bg-danger text-white">
                            How Did You Find Us
                        </div>
                        <div class="card-body">
                            <div class="form-group pt-2 pl-2 pr-2">
                                <h4 class="mb-3">How did you hear about the ChinesePod Recap app?</h4>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="learnedFrom1" name="learnedFrom" class="custom-control-input" value="Forum" v-model="formData.learnedAbout.choice">
                                    <label class="custom-control-label" for="learnedFrom1">On the Forum</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="learnedFrom2" name="learnedFrom" class="custom-control-input" value="Email" v-model="formData.learnedAbout.choice">
                                    <label class="custom-control-label" for="learnedFrom2">By email</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="learnedFrom3" name="learnedFrom" class="custom-control-input" value="Website" v-model="formData.learnedAbout.choice">
                                    <label class="custom-control-label" for="learnedFrom3">On the Website</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="learnedFrom4" name="learnedFrom" class="custom-control-input" value="Ads" v-model="formData.learnedAbout.choice">
                                    <label class="custom-control-label" for="learnedFrom4">Through an advertisement</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="learnedFrom6" name="learnedFrom" class="custom-control-input" value="Other" v-model="formData.learnedAbout.choice">
                                    <label class="custom-control-label" for="learnedFrom6">Other: </label>
                                    <input v-if="formData.learnedAbout.choice==='Other'" type="text" placeholder="" class="form-control" id="learnedFromOther" v-model="formData.learnedAbout.text">
                                </div>
                            </div>
                            <div class="form-group pt-2 pl-2 pr-2 pb-2">
                                <label for="usedMethodsComment">COMMENTS:</label>
                                <textarea class="form-control" id="usedMethodsComment" rows="3" v-model="formData.learnedAbout.comments"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card m-3">
                        <div class="card-header bg-danger text-white">
                            ChinesePod RECAP APP
                        </div>
                        <div class="card-body">
                            <div class="form-group pt-2 pl-2 pr-2 pb-2">
                                <h4 class="mb-3">What do you expect from a RECAP APP?</h4>
                                <input type="text" class="form-control" id="usedDevisesOther" placeholder="Your Answer" v-model="formData.expectations">
                            </div>
                            <div class="form-group pt-2 pl-2 pr-2 pb-2">
                                <h4 class="mb-3">Which other apps and services do you use to study Chinese?</h4>
                                <input type="text" class="form-control" id="usedDevisesOther" placeholder="Your Answer" v-model="formData.otherApps">
                            </div>
                            <div class="form-group pt-2 pl-2 pr-2 pb-2">
                                <h4 class="mb-3">Do you have any other suggestions, remarks or feedback for us?</h4>
                                <input type="text" class="form-control" id="otherSuggestions" placeholder="Your Answer" v-model="formData.suggestions">
                            </div>
                        </div>
                    </div>
                    <div class="p-4 m-2">
                        <button @click.prevent="submitForm" class="btn btn-danger" :disabled="syncing">Submit</button>
                    </div>
                </form>
                <div v-show="submitted" class="col-12 py-4">
                    Thank you for signing up! We'll contact you shortly! In the meantime - enjoy the App.
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-11 text-center mt-4">
                <a href="/recap-beta" class="cprecap-link-light small">Go back to main page</a>
            </div>
        </div>
    </div>
</section>
<!-- End Writing APP page -->

<!-- Footer -->
<footer class="cprecap-footer mt-5">
    <div class="container-fluid">
        <div class="row mb-sm-3 mb-5 mb-sm-0 pl-3 pr-3">
            <div class="col-12 col-sm-6">
                <ul class="list-inline social">
                    <li class="list-inline-item"><a class="social-icon facebook" href="https://www.facebook.com/ChinesePod" target="_blank" rel="noopener" aria-label="facebook"></a></li>
                    <li class="list-inline-item"><a class="social-icon twitter" href="https://twitter.com/chinesepod" target="_blank" rel="noopener" aria-label="twitter"></a></li>
                    <li class="list-inline-item"><a class="social-icon instagram" href="http://instagram.com/chinesepod/" target="_blank" rel="noopener" aria-label="instagram"></a></li>
                    <li class="list-inline-item"><a class="social-icon youtube" href="https://www.youtube.com/user/ChinesePodTV" target="_blank" rel="noopener" aria-label="youtube"></a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 text-sm-right">
                <a href="https://itunes.apple.com/us/app/chinesepod-podcast/id1185380819?mt=8" target="_blank" rel="noopener" style="margin-bottom:10px;text-decoration:none;"><img src="/recap/img/app-store-icon.svg" alt="ChinesePod iOS App" width="100"></a>
                <a href="https://play.google.com/store/apps/details?id=llc.chinesepod.android&amp;hl=en" target="_blank" rel="noopener" style="margin-bottom:10px;"><img src="/recap/img/google-play-icon.svg" class="lazyload" alt="ChinesePod Google Play App" width="112"></a>
            </div>
        </div>
        <div class="row copyright mb-3">
            <div class="col-12 col-sm-4">
                <p class="pl-3 pt-2">&copy; {{fullYear}} ChinesePod LLC</p>
            </div>
            <div class="col-12 col-sm-8">
                <ul class="nav justify-content-sm-end">
                    <li class="nav-item">
                        <a class="nav-link"  href="https://chinesepod.com/pricing/">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.chinesepod.com/corporate">Corporate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.chinesepod.com/why-choose-us">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.chinesepod.com/blog">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
  var app = new Vue({
    el: '#recap-signup',
    data: {
      syncing: false,
      submitted: false,
      formData: {
        devices: {},
        methods: {},
        apps: {},
        learnedAbout: {}
      },
      formErrors: {
      },
      formRules: {
      },
      cloudError: '',
    },
    computed: {
      fullYear () {
        return new Date().getFullYear();
      }
    },
    methods: {

      async submitForm () {
        this.syncing = true;
        await fetch('/api/v1/recap/submit/signup', {
          method: 'POST',
          body: JSON.stringify({data: this.formData})
        })
        .catch();
        this.submitted = true;
      },

      submittedForm: async function() {
        // Redirect to the logged-in dashboard on success.
        // > (Note that we re-enable the syncing state here.  This is on purpose--
        // > to make sure the spinner stays there until the page navigation finishes.)
        this.syncing = true;
        window.location.href = '/home';
      },

    },
    mounted () {
    }
  })
</script>
</body>
</html>
