<div id="beta-promo" class="bg-gray py-2" v-cloak>

  <div class="container">
    <h1 class="headline font-weight-bold text-center my-3 pb-3">
      GET A FREE PREMIUM SUBSCRIPTION TILL THE END OF THE YEAR!
    </h1>
    <div class="text-center card p-5 mb-4 col-lg-8 offset-lg-2">
      <div class="row">
        <div class="col-12">
          <p class="text-left">
            We’ve been working hard to build a new website and we are almost ready to launch!  Before we roll it out
            to the world we need YOU to help us find the bugs. We’re talking 代码错误 (dàimǎ cuòwù), not 虫子(chóngzi)! !
            And of course, we need you to report them once you find them!
          </p>

        </div>
        <div class="col-12">
          <img class="img-fluid" alt='The New ChinesePod Dashboard' src="/images/onboarding/magnifying_glass_hero_small.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col-12 pt-lg-3">
<!--          <h2 class="text-left">How does it work?</h2>-->
          <p class="text-left">
            We are now in BETA TESTING and need smart students to put us to the test.
            If you’ll join us you will be rewarded with a FREE PREMIUM subscription until the END of the year.
          </p>
          <p class="text-left">
            Want to help? Just go to <a href="/switch">https://www.chinesepod.com/switch</a> and confirm you want to
            use the NEW and IMPROVED (but still being tested) ChinesePod.  If at any time - and for any reason - you
            wish to switch back to the old layout, it is as easy as going to
            <a href="/switch-back">https://www.chinesepod.com/switch-back</a>
          </p>
          <p class="text-left">
            Tell us what you like, what you don’t like, and any bugs you find by filling out our Feedback Form:
            <a href="/feedback">https://www.chinesepod.com/feedback</a>
            Remember, the new site is in “beta”, so we know there are bugs, errors and omissions.
            We just need you to find them and let us know!  Look high and low!  And don’t forget to document the dàimǎ cuòwù!
          </p>
        </div>
        <div class="col-8 offset-2 col-md-4 offset-md-4 pb-4">
          <img class="img-fluid" alt='The New ChinesePod Dashboard' src="/images/onboarding/magnifying_glass_footer_small.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <a href="/switch" class="btn btn-lg btn-success px-5">Happy Learning!</a>
        </div>
      </div>

    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
