<div id="beta-promo" class="bg-gray py-2" v-cloak>

  <div class="container">
    <h1 class="headline font-weight-bold text-center my-3 pb-3">
      Test our New Website and get
      a Free Upgrade to PREMIUM for One Full Month!
    </h1>
    <div class="text-center card p-5">
      <div class="row">
        <div class="col-12 col-lg-6 order-lg-12 col-xl-7">
          <img class="img-thumbnail" alt='The New ChinesePod Dashboard' src="/images/onboarding/new_dashboard.png">
        </div>
        <div class="col-12 col-lg-6 order-lg-1 col-xl-5">
          <h2 class="mt-3 mt-lg-0 text-left">
            The New ChinesePod Dashboard
          </h2>
          <p class="text-left">
            In the last few months, we at ChinesePod were busy working on a completely new website that is going into BETA TESTING now. And we want YOUR INPUT, and for all your hard work, we will be rewarding you with FREE PREMIUM until the END of the year.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="text-left">How does it work?</h2>
          <p class="text-left">
            The new site has a much more contemporary design, but don’t worry, if you are used to the layout and design of our existing one, you will be able to switch back. But we want to hear what you have to say! We are quite proud of it and will be rolling out a lot more functions over the next few weeks.
          </p>
          <p class="text-left">
            Interested? Just go to <a href="/switch">https://www.chinesepod.com/switch</a> and confirm that you want to use ChinesePod with the new site going forward. And if at any time and for any reason you wish to switch back, it is as easy as going to <a href="/switch-back">https://www.chinesepod.com/switch-back</a>
          </p>
          <p class="text-left">
            As a token of gratitude, you will receive FREE ACCESS to all our PREMIUM CONTENT (through the website only, not apps).
          </p>
          <p class="text-left">
            By clicking on the button below, you agree to the terms above and agree to give us within 20 days my feedback on <a href="/feedback">https://www.chinesepod.com/feedback</a> (also reachable from within the website). You understand that the new site is in “beta” and, therefore, may contain errors and omissions, and any changes in your user profile may not be updated correctly.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <a href="/switch" class="btn btn-lg btn-success px-5">Enroll</a>
        </div>
      </div>

    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
