<div id="beta-promo" class="bg-gray py-2 h-100" v-cloak>

  <div class="container">
    <h1 class="headline font-weight-bold text-center my-3 pb-3">
      Welcome to the Beta Program
    </h1>
    <div class="text-center card p-5 mb-4 col-lg-8 offset-lg-2">
      <div class="row">
        <div class="col-12">
          <p class="text-left">
            Thanks for enrolling in the Beta Program for our new website.
          </p>
          <p class="text-left">
            You are now able to access all of ChinesePod's premium content for free. <span class="text-danger">*</span>
          </p>
          <p class="text-left">
            At any time you can switch back to the old website using
            <a href="https://www.chinesepod.com/switch">https://www.chinesepod.com/switch</a>
          </p>
          <p class="text-left">
            For any feedback please use the "Feedback" link on the left navigation bar.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center pt-5">
          <a href="/beta-confirmed" class="btn btn-lg btn-success px-5">Take me to the new site</a>
          <hr/>
          <p class="text-left small">
            <span class="text-danger">*</span> We reserve the right to cancel access if by the end of year we have not
            received any feedback from you
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
