<div id="beta-promo" class="bg-gray py-2 min-vh-100" v-cloak>
  <div class="container">
    <h1 class="headline font-weight-bold text-center my-3 pb-3">
      GET A FREE PREMIUM SUBSCRIPTION TILL JAN 27<sup>th</sup>
    </h1>
    <div class="text-center card p-5 mb-4 col-lg-10 offset-lg-1">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="">
            <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_t2qz9i9j9e videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/t2qz9i9j9e/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="col-12">
            <p class="text-left my-3 mt-lg-0">
              Want to help us build the <strong>best</strong> website to learn Mandarin Chinese?
              Help us test our BETA and receive free premium access until Jan. 27!
            </p>
          </div>
          <div class="col-12 text-center py-2">
            <a href="/switch" class="btn btn-lg btn-chinesepod-blue px-5">I'll Participate!</a>
          </div>
          <div class="col-12 small">
            We reserve the right to disable premium access in case
            no feedback is received, or are not visiting our beta site again within 24
            hours after you choose to participate. Access is restricted to one
            location - will not work if you try to access from a country other than
            the one you are signing up from.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://fast.wistia.com/embed/medias/t2qz9i9j9e.jsonp" async></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
