<div id="beta-promo" class="bg-gray py-2 h-100" v-cloak>

  <div class="container">
    <h1 class="headline font-weight-bold text-center my-3 pb-3">
      THE BETA PROGRAM
    </h1>
    <div class="text-center card p-5 mb-4 col-lg-8 offset-lg-2">
      <div class="row">
        <div class="col-12">
          <p class="text-left">
            We at Chinesepod have been working hard on building a complete new website to replace the antiquated site
            that dates back to 2004. But it is a work in progress, so we really want to hear from YOU - as you are
            the most important decision maker in this process.
          </p>
          <p class="text-left">
            Without doubt, you will find some bugs and things that you find inferior
            to the old site - if you do, please tell us. There is a "Feedback" button
            at the left side of the navigation bar to submit anything you think our
            software development team needs to hear.
          </p>
          <p class="text-left">
            As a token of gratitude, we will automatically upgrade your access to the
            site to PREMIUM, which means that you will be able to access the entirety
            of our over 4000 lessons during the beta period until January 24, 2020! <span class="text-danger">*</span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <a href="/beta-confirm" class="btn btn-lg btn-success px-5">I'll Participate</a>
          <hr/>
          <p class="text-left small">
            <span class="text-danger">*</span> The premium access is for the use through the website only, and does not
            extend to the app
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
