<div id="level" v-cloak>

  <div class="container-fluid">
    <div class="heading text-center">
      <h1 class="headline d-block">Optimizing your user experience</h1>
      <h3 v-if="!nextPage" class="subheading d-block">Please select your current Chinese proficiency level</h3>
      <h3 v-else class="subheading d-block">Please select your Chinese Character preference</h3>
    </div>
    <div v-if="!nextPage" class="levels">
      <div class="flex">
        <div class="level">
          <h3>Newbie</h3>
          <div class="body">
            <p>You're just learning some survival Chinese, or looking to start a lifelong relationship with Mandarin Chinese.</p>
            <ajax-button :syncing="syncing" v-bind:style="{ backgroundColor: syncing ?  '#ccc' : '' }" v-on:click="setLevel('Newbie')" class="btn continue">Continue</ajax-button>
          </div>
        </div>

        <div class="level">
          <h3>Intermediate</h3>
          <div class="body">
            <p>You're are able to have simple conversations in Chinese, and want to explore more variety of topics and use richer language.</p>
            <ajax-button :syncing="syncing" v-bind:style="{ backgroundColor: syncing ?  '#ccc' : '' }" class="btn continue">Continue</ajax-button>
          </div>
        </div>

        <div class="level">
          <h3>Advanced</h3>
          <div class="body">
            <p>You can easily use concrete language. You want to expand into describing abstract concepts and discuss cultural issues that go deeper than the surface.</p>
            <ajax-button :syncing="syncing" v-bind:style="{ backgroundColor: syncing ?  '#ccc' : '' }" class="btn continue" >Continue</ajax-button>
          </div>
        </div>

        <div class="level">
          <div class="body test">
            <h5>Need some help choosing your level?</h5><br>
            <p>Complete our placement test and we will assess which level fits you best.</p>
            <button v-on:click="placementTest()" class="btn">Placement test</button>
          </div>
        </div>
      </div>
    </div>

    <div v-else class="choose">
      <div class="flex">
        <div class="level language">
          <h3>Simplified Chinese</h3>
          <div class="body">
            <p>
              These are standardized Chinese characters prescribed in Table of General Standard Chinese Characters for
              use in <b>Mainland China</b>.<br><br>(简化字; jiǎnhuàzì)
            </p>
            <ajax-button :syncing="syncing" v-bind:style="{ backgroundColor: syncing ?  '#ccc' : '' }"  v-on:click="setCharSet('simplified')" class="btn choose-type">Choose</ajax-button>
          </div>
        </div>
        <div class="level language">
          <h3>Traditional Chinese</h3>
          <div class="body">
            <p>
              These are Chinese characters that do not contain newly created characters
              or character substitutions performed after 1946.
              <br><br>
              They are commonly used in <b>Taiwan</b>, <b>Hong Kong</b>, <b>Macau</b>, and in <b>Kangxi Dictionary</b>.
              <br><br>
            </p>
            <ajax-button :syncing="syncing" v-bind:style="{ backgroundColor: syncing ?  '#ccc' : '' }" v-on:click="setCharSet('traditional')" class="btn choose-type" data-type="2">Choose</ajax-button>
          </div>
        </div>
        <div class="level language skip">
          <div class="body">
            <h5>Predefined settings</h5>
            <p>
              By skipping this, we will select the most popular settings for your account. This can be modified.
            </p>
            <ajax-button :syncing="syncing" v-bind:style="{ backgroundColor: syncing ?  '#ccc' : '' }" v-on:click="setCharSet('simplified')"  v-on:click="skip()" class="btn">Skip</ajax-button>
          </div>
        </div>
      </div>
      <div class="action-nav">
        <span v-on:click="flipPage()" class="btn action prev">Back</span>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
