<div id="new-dash" v-cloak>
  <div class="container">
    <h1 class="text-white headline font-weight-bold text-center my-3 pb-3">
      PLEASE CHOOSE YOUR DASHBOARD
    </h1>
    <div class="recap-card text-center card p-5">
      <div class="row">
        <div class="col-md-6 pb-4">
          <a href="/home">
          <img class="img-thumbnail" alt='The New ChinesePod Dashboard' src="/images/onboarding/new_dashboard.png">
          </a>
          <h2 class="my-3">
            <span class="font-weight-bold">The New ChinesePod Dashboard</span>
          </h2>
        </div>
        <div class="col order-md-2 pb-4">
          <a href="/home" class="btn btn-lg btn-block btn-primary">I Want to See<span class="d-none d-md-block"> the New Dashboard</span></a>
        </div>
        <div class="col-md-6 order-md-1 pb-4">
          <a href="/old-dashboard">
            <img class="img-thumbnail" alt='The Old ChinesePod Dashboard' src="/images/onboarding/old_dashboard.jpg">
          </a>
          <h2 class="my-3">
            <span class="font-weight-bold">The Old ChinesePod Dashboard</span>
          </h2>
        </div>
        <div class="col order-md-3">
          <a href="/old-dashboard" class="btn btn-lg btn-block btn-danger">No Thanks! <span class="d-none d-md-block">I Like the Current One</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
