<div id="new-dash" v-cloak>
  <div class="container">
    <h1 class="text-white headline font-weight-bold text-center my-3 pb-3">
      Test our New Website and get
      a Free Upgrade to PREMIUM for One Full Month!
    </h1>
    <div class="recap-card text-center card p-5">
      <div class="row">
        <div class="col-lg-6">
          <img class="img-thumbnail" alt='The New ChinesePod Dashboard' src="/images/onboarding/new_dashboard.png">
        </div>
        <div class="col-lg-6">
          <h2 class="my-3">
            <span class="font-weight-bold">The New ChinesePod Dashboard</span>
          </h2>
          <p class="text-left">
            With the submission of this form, you agree to participate in the beta
            test program of Chinesepod.
          </p>
          <p class="text-left">
            As a gesture of gratitude, Chinesepod will upgrade your account to a
            PREMIUM ACCOUNT, free of charge to you, for 30 days upon you signing up.
            Premium content will only be provided through the website, not the app, to
            those users that share a feedback in the first 14 days upon sign-up.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-center mt-2">
          <a href="/home" class="btn btn-lg btn-block btn-primary">I Want to See<span class="d-none d-md-block"> the New Dashboard</span></a>
        </div>
        <div class="col-md-6 text-center mt-2">
          <a href="/old-dashboard" class="btn btn-lg btn-block btn-danger">No Thanks! <span class="d-none d-md-block">I Like the Current One</span></a>
        </div>
      </div>

    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
