<div id="promo" v-cloak class="pt-3 freedom-day-promo">
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-12 my-4">
          <img class="img-fluid w-100" src="/images/promotions/freedom_day_header.png" alt="PROMOTION BANNER">
        </div>
        <div class="col-12 my-3">
          <h1 class="text-center font-weight-bold">Happy Freedom Day! Get Your Exclusive Offer!</h1>
        </div>
      </div>
    </div>
    <div class="">
      <div class="container">
      <div class="row">
        <div class="col-12 my-3 text-center">
          <h2 class="">
            We hope you enjoy this Freedom Day of South Africa, therefore we have prepared an exclusive offer for your upgrade!
          </h2>
        </div>
        <div class="col-12 my-3 text-center">
          <h4 class="">
            Upgrade your subscription with <span class="font-weight-bold">25% off</span> the annual, quarterly or monthly plan today, with promo code <span class="font-weight-bold"><%= formData.promoCode %></span>.
          </h4>
        </div>
      </div>
      </div>
    </div>
    <div class="container pt-3">
      <div class="row">

        <%- partial('../../../partials/checkout-form-3-options.ejs') %>

        <div class="col-12 my-3 text-center">
          <h2 class="">
            自由日快樂
          </h2>
          <h2 class="">
            Zìyóu rì kuàilè
          </h2>
        </div>
        <div class="col-10 offset-1 col-md-4 offset-md-4 my-4">
          <img class="img-fluid" src="/images/brand/brand.svg" alt="ChinesePod" loading="lazy">
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://js.stripe.com/v3/"></script>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
