<div id="expired-promo" v-cloak>
  <div class="container p-5">
    <div class="jumbotron">
      <h1 class="display-4">Sorry, this promotion has expired!</h1>
      <p class="lead">Unfortunately, this promotion has already expired. We're sorry for any inconvenience this has caused. You will be redirected back to the homepage.</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="/home" role="button">Back to Homepage</a>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
