<div id="holiday-gift" class="py-2" v-cloak>
  <div class="container">
    <h1 class="headline font-weight-bold text-center py-3 pb-3">
      GET A FREE PREMIUM SUBSCRIPTION TILL THE END OF THE YEAR!
    </h1>
    <div class="text-center card p-3 mb-4 col-lg-8 offset-lg-2 holiday-card">
      <div class="row">
        <div class="col-12">
          <p class="">
            Our gift to <span class="text-danger font-weight-bold">YOU</span> is access to all our <span class="text-danger font-weight-bold">PREMIUM MATERIAL</span> for <span class="text-danger font-weight-bold">FREE</span> until the 24th of January.
          </p>
          <p class="">
            We are striving to provide our students with a great learning experience and have been building a brand new website for you. Just go to <a href="https://www.chinesepod.com/home">chinesepod.com/home</a> and you can choose to use the <span class="text-danger font-weight-bold">NEW</span> and <span class="text-danger font-weight-bold">IMPROVED</span> (but still being tested) ChinesePod. If you don't know your account click <a href="https://www.chinesepod.com/signup" target="_blank">"Sign Up"</a> on the login page, and create a new one. What we need from you is feedback about the new site. What do you like, not like, recommend or suggest? We have a feedback button on the dashboard to collect your input. Please let us know!
          </p>
          <p class="">
            We're on a mission to make learning Chinese easy and fun! You are the one to help us decide if we are on the right track. So please share your thoughts with us. We will continue to make improvements and you are the most important part of our decisions in what changes to make.
          </p>
          <p class="">
            Together we'll make ChinesePod great! Happy Learning!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <a href="/switch" class="btn btn-lg btn-chinesepod-blue px-5">CLAIM YOUR GIFT</a>
        </div>
      </div>

    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
