<div id="holiday-offer-success" class="holiday-promo-background" v-cloak>
  <div class="col-12">
    <h1 class="headline font-weight-bold text-center py-3 pb-3">
      GET A FREE PREMIUM SUBSCRIPTION TILL JANUARY 24<sup>th</sup>
    </h1>
  </div>
  <div class="holiday-promo py-4">
    <div class="container">
      <div class="card p-3 mb-4 col-lg-8 offset-lg-2 holiday-card">
        <div class="jumbotron text-xs-center bg-transparent">
          <h1 class="display-3">Thank You!</h1>
          <p class="lead">You have successfully confirmed a subscription and will be redirected to the <span class="font-weight-bold">ChinesePod Dashboard</span> shortly.</p>
          <hr>
          <a class="btn btn-lg btn-chinesepod-blue" href="/level" role="button">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
