<div id="holiday-gift" class="holiday-promo-background" v-cloak>
  <div class="col-12">
    <h1 class="headline font-weight-bold text-center py-3 pb-3">
      GET A 3-MONTH PREMIUM SUBSCRIPTION FOR $0.99
    </h1>
  </div>
  <div class="holiday-promo py-4">
    <div class="container">
      <div class="text-center card p-3 mb-4 col-lg-8 offset-lg-2 holiday-card">
        <div class="row">
          <div class="col-12 pt-3">
            <p class="h4">Happy Holidays!</p>

            <p class="h4">祝您节日快乐  zhù nín jiérì kuàilè！</p>

            <p>This year, our gift to you is a 90 day Premium Account for just $.99 cents!</p>

            <p>Sign up, test out our new website and get a <span class="text-danger font-weight-bold">PREMIUM SUBSCRIPTION</span>
              for just $.99 cents for 90 days,
              <strong>九十天 jiǔshí tiān，九十九毛 jiǔshíjiǔ máo!</strong>  Give yourself the Gift of Language without breaking the bank!</p>

            <p>You won't see this special any other time of the year so hurry and don't miss out!</p>

            <p><strong>二零一九 èrlíng yījiǔ (2019)，长长久久 chángcháng jiǔjiǔ (forever ever)！</strong></p>

            <p>2019 may be ending, but learning a language is a life-long affair!</p>

          </div>
          <div class="col-12 col-md-8 offset-md-2 py-2">
            <a class="btn btn-chinesepod-blue btn-lg btn-block" href="/holiday-offer">Collect My Gift!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
