#holiday-gift {
  background-color: #bb1100;

  .headline {
    color: white;
  }

  .holiday-card {
    border: 3px solid #000;
    margin-top: 10vh;
  }

  .holiday-promo {
    background: url('/images/promotions/holiday-background.jpg') no-repeat;
    min-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    //margin: -18px -15px 0px -15px;
    width: 100%;
  }
}
