<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<tr>
  <td align="center" valign="top">
    <!-- BEGIN BODY // -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
      <tr>
        <td align="center" valign="top" style="padding-right:10px; padding-left:10px;">
          <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer">
            <tr>
              <td align="center" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="bodyBackground">
                  <tr>
                    <td valign="top" class="bodyContainer"><table class="mcnDividerBlock" style="min-width:100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody class="mcnDividerBlockOuter">
                        <tr>
                          <td class="mcnDividerBlockInner" style="min-width:100%; padding:18px;">
                            <table class="mcnDividerContent" style="min-width: 100%;border-top: 2px none #E1001E;" width="100%" cellspacing="0" cellpadding="0" border="0">
                              <tbody><tr>
                                <td>
                                  <span></span>
                                </td>
                              </tr>
                              </tbody></table>
                          </td>
                        </tr>
                        </tbody>
                      </table><table class="mcnDividerBlock" style="min-width:100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody class="mcnDividerBlockOuter">
                        <tr>
                          <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 18px 18px 0px;">
                            <table class="mcnDividerContent" style="min-width: 100%;border-top: 2px none #E1001E;" width="100%" cellspacing="0" cellpadding="0" border="0">
                              <tbody><tr>
                                <td>
                                  <span></span>
                                </td>
                              </tr>
                              </tbody></table>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                      <span mc:edit="confirmation">
                        <table class="mcnButtonBlock" style="min-width:100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody class="mcnButtonBlockOuter">
                                                                            <tr>
                                                                                <td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;" class="mcnButtonBlockInner" valign="top" align="center">
                                                                                    <table class="mcnButtonContentContainer" style="border-collapse: separate !important;border-radius: 3px;background-color: #2487C1;" cellspacing="0" cellpadding="0" border="0">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td class="mcnButtonContent" style="font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px; padding: 15px;" valign="middle" align="center">
                                                                                                <a class="mcnButton " title="Activate Your Account" href="<%= url.resolve(sails.config.custom.baseUrl,'/accounts/signup/confirm?code=') + encodeURIComponent(token) + '&type=verify&utm_nooverride=1' %>" target="_blank" style="font-weight: bold;letter-spacing: 1px;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">Activate Your Account</a>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                      </span>

                      <table class="mcnBoxedTextBlock" style="min-width:100%;" width="100%" cellspacing="0" cellpadding="0" border="0">
                        <!--[if gte mso 9]>
                        <table align="center" border="0" cellspacing="0" cellpadding="0" width="100%">
                        <![endif]-->
                        <tbody class="mcnBoxedTextBlockOuter">
                        <tr>
                          <td class="mcnBoxedTextBlockInner" valign="top">

                            <!--[if gte mso 9]>
                            <td align="center" valign="top" ">
                            <![endif]-->
                            <table style="min-width:100%;" class="mcnBoxedTextContentContainer" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                              <tbody><tr>

                                <td style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;">

                                  <table class="mcnTextContentContainer" style="min-width:100% !important;" width="100%" cellspacing="0" border="0">
                                    <tbody><tr>
                                      <td class="mcnTextContent" style="padding: 18px;color: #000000;font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 16px;font-weight: normal;line-height: 100%;text-align: left;" valign="top">
                                        <h2 class="null">
                                          <span style="font-size:18px"><span style="color:#000000"><span style="font-family:roboto,helvetica neue,helvetica,arial,sans-serif"><strong>Nǐ hǎo!</strong></span></span><br>
There's one more step before you can improve your Chinese!<br>
All you have to do is click the button above and confirm your account.
                                          <br>
                                          <br>
                                          If you have any trouble, try pasting this link in your browser:
                                            <a style="color: #00ACC4; word-wrap: break-word;" href="<%= url.resolve(sails.config.custom.baseUrl,'/accounts/signup/confirm?code=') + encodeURIComponent(token) + '&type=verify&utm_nooverride=1' %>"><%= url.resolve(sails.config.custom.baseUrl,'/accounts/signup/confirm?code=') + encodeURIComponent(token) %></a>
                                            <br>
                                            <br>
                                            We have also generated you a temporary password: <br>
                                            <strong><%= password %></strong>
                                        </span>
                                        </h2>
                                      </td>
                                    </tr>
                                    </tbody></table>
                                </td>
                              </tr>
                              </tbody></table>

                            <!--[if gte mso 9]>
                            </td>
                            <![endif]-->

                            <!--[if gte mso 9]>
                            </tr>
                            </table>
                            <![endif]-->
                          </td>
                        </tr>
                        </tbody>
                      </table></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- // END BODY -->
  </td>
</tr>
