<% /* Note: Unlike other emails, this is NOT intended for use with a layout! */ %>
<div style="background-color: #FAFAFA; width: 100%; font-family: 'Roboto', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif; box-sizing: border-box; padding-bottom: 25px; margin: 0;">
  <div style="background: transparent; padding-top: 30px; padding-bottom: 20px; text-align: center;">
    <img style="display: inline-block; height: 40px; width: auto; margin-left: auto; margin-right: auto;" alt="ChinesePod" src="https://s3contents.chinesepod.com/email/logo.png"/>
  </div>
  <div style="background-color: #fff; color: #000; font-size: 1em; border-top: 2px solid #ee1100; border-bottom: 1px solid #E6E6E6; box-sizing: border-box; padding: 25px; width: 100%; max-width: 600px; margin-left: auto; margin-right: auto;">
    <p style="margin-bottom: 25px;">Dear <%= fullName %>,</p>
    <p style="margin-bottom: 25px;">Someone requested a password reset for your account. If this was not you, please disregard this email. Otherwise, simply click the button below:</p>
    <div style="margin-bottom: 25px; text-align: center;">
      <a style="background-color: #00ACC4; display: inline-block; font-size: 1.1em; color: #fff; padding: 10px 35px 10px; font-weight: 500; text-decoration: none; border-radius: 7px;" href="<%= url.resolve(sails.config.custom.baseUrl,'/password/new')+'?token='+encodeURIComponent(token) %>">Update password</a>
    </div>
    <p style="margin-bottom: 25px;">If you have any trouble, try pasting this link in your browser: <a style="color: #00ACC4; word-wrap: break-word;" href="<%= url.resolve(sails.config.custom.baseUrl,'/password/new')+'?token='+encodeURIComponent(token) %>"><%= url.resolve(sails.config.custom.baseUrl,'/password/new')+'?token='+encodeURIComponent(token) %></a></p>
    <p style="margin-bottom: 5px;">Sincerely,</p>
    <p style="margin-top: 0px;">The ChinesePod Team</p>
  </div>
</div>
