<% /* Note: Unlike other emails, this is NOT intended for use with a layout! */ %>
<div style="background-color: #FAFAFA; width: 100%; font-family: 'Roboto', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif; box-sizing: border-box; padding-bottom: 25px; margin: 0;">
    <div style="background: transparent; padding-top: 30px; padding-bottom: 20px; text-align: center;">
        <img style="display: inline-block; height: 40px; width: auto; margin-left: auto; margin-right: auto;" alt="ChinesePod" src="https://s3contents.chinesepod.com/email/logo.png"/>
    </div>
    <div style="background-color: #fff; color: #000; font-size: 1em; border-top: 2px solid #ee1100; border-bottom: 1px solid #E6E6E6; box-sizing: border-box; padding: 25px; width: 100%; max-width: 600px; margin-left: auto; margin-right: auto;">

        <p style="margin-bottom: 25px;">Welcome to ChinesePod!</p>
        <p style="margin-bottom: 25px;">Please confirm your account by entering this code in the mobile app:</p>
        <p style="margin-bottom: 35px; text-align: center;"><strong><%= token %></strong></p>
    </div>
</div>
