<div id="free-signup" v-cloak>
  <div class="promo-banner row hl-white">
    <div class="container pb-5">
      <div class="row">
        <div class="col-12 my-4">
          <h1 class="text-center promo-heading font-weight-bold text-white h2">Get your ChinesePod Account for Free!</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="cpod-vid-cont" v-html="video">
          </div>
        </div>
        <div class="col-md-6">
          <div class="hero__form mx-md-3">
            <div class="form-block">
              <div class="form-block__header">
                <h3 class="form-block__title">Sign Up Today!</h3>
              </div>
              <div class="form-block__content">
                <div v-if="cloudSuccess" id="form-top-msg"><div class="alert alert-success" role="alert">
                    Great! We've just sent you an account confirmation email. Please check your inbox.
                  </div>
                </div>
                <ajax-form v-if="!cloudSuccess" name="form-medium" id="form-medium" action="signup" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
                  <div class="form-block__row">
                    <div class="form-block__col">
                      <label class="form-block__label">Email Address</label>
                      <input type="email" name="email" placeholder="email@example.com" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" class="form-control form-block__input" autocomplete="email">
                      <div class="invalid-feedback" v-if="formErrors.emailAddress">Please enter a valid email address.</div>
                    </div>
                  </div>
                  <div class="form-block__row">
                    <div class="form-block__col">
                      <label class="form-block__checkbox">
                        <input type="checkbox" name="overlay_email" v-model="formData.optIn" checked>
                        <div class="form-block__checkbox-block"></div>
                        <span class="form-block__checkbox-label">I want to hear the latest news from ChinesePod.</span>
                      </label>
                      <p class="text-danger" v-if="cloudError==='emailAlreadyInUse'"><small>It looks like there's already an account with your email address. If you forgot your password, you can recover it <strong><a href="/password/forgot">here</a></strong>.</small></p>
                      <p class="text-danger" v-else-if="cloudError"><small>An error occurred while processing your request. Please check your information and try again, or <strong><a href="/support">contact support</a></strong> if the error persists.</small></p>

                    </div>
                  </div>
                  <div class="form-block__row">
                    <div class="form-block__col">
                      <ajax-button type="submit" id="btn-form-top-submit" :syncing="syncing" class="form-block__button">Get Started</ajax-button>
                    </div>
                  </div>
                  <div class="form-block__row">
                    <div class="form-block__col">
                      <p><small class="text-muted">By signing up, you agree to the <a href="/privacy/" target="_blank">Privacy Policy</a> and <a href="/terms/" target="_blank">Terms of Service</a> of ChinesePod LLC.</small></p>
                    </div>
                  </div>


                </ajax-form>

                <hr v-if="!cloudSuccess">

                <div v-if="!cloudSuccess">
                  <div>
                    <a class="btn btn-block btn-outline-primary" href="/api/v1/auth/google">
                      <div class="row">
                        <div class="col-2 my-auto">
                          <div class="img-fluid w-50">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 48 48">
                              <defs><path id="a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z"/><path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"/><path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"/><path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"/>
                            </svg>
                          </div>
                        </div>
                        <div class="col-10 my-auto">
                          <span class="">Continue with Google</span>
                        </div>
                      </div>
                    </a>
                    <a class="btn btn-block btn- btn-facebook" href="/api/v1/auth/facebook">
                      <div class="row">
                        <div class="col-2 my-auto">
                          <div class="img-fluid w-50">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                              <path fill="#FFFFFF" d="M32 30a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h28a2 2 0 0 1 2 2v28z"/>
                              <path fill="#4267b2" d="M22 32V20h4l1-5h-5v-2c0-2 1.002-3 3-3h2V5h-4c-3.675 0-6 2.881-6 7v3h-4v5h4v12h5z"/>
                            </svg>
                          </div>
                        </div>
                        <div class="col-10 my-auto">
                          <span class="">Continue with Facebook</span>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<script v-if="wistia" src="https://fast.wistia.com/embed/medias/jggideab2x.jsonp" async></script>
<script v-if="wistia" src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
<%- /* Expose locals as 'window.SAILS_LOCALS' :: */ exposeLocalsToBrowser() %>
