<div id="secret-page" v-cloak>
  <div class="container text-center">
    <h1 class="mb-3">Most Popular Lesson of the Day <br>Paying Mobile Users</h1>
    <hr/>
    <div v-show="syncing">
      <i style="font-size: 100px !important;"class="fa fa-spinner fa-spin"></i>
    </div>
    <div v-show="!syncing">
      <div v-show="!error" class="mb-5">
        <img class="thumbnail" :src=topLesson.imageUrl>
      <h2>{{ topLesson.title }}</h2>
      <h3>Lesson Id: {{ topLesson.v3_id }}</h3>
      <h3>Views: {{ topLessonUsers.length }}</h3>
      </div>
      <div class="mb-5">
      <div class="help">
        <p v-show="error">Sorry, seems something went terribly wrong. Please drop an email to <a href="mailto:ugis@chinesepod.com">ugis@chinesepod.com</a>.</p>
        <p v-show="error">We received this error message: {{ error }}.</p>
        <div v-show="topLesson" class="col-12"><div class="row"><div class="col-6">
              <a class="btn btn-lg btn-outline-dark" :href="`/lesson-redirect?v3id=${topLesson.v3_id}`">Go to Lesson</a>
            </div>
            <div class="col-6">
              <a class="btn btn-lg btn-outline-success" :href="`/recap/list-files/${topLesson.v3_id}`">List Recap Content</a>
            </div>
          </div></div>
      </div>
      </div>
      <div v-show="!error" class="mb-5">
      <h3>Lesson Viewers</h3>
        <p v-show="days"> -- OUTPUT FOR {{ days*24 }} HOURS -- </p>
      <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">LTV</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="student in topLessonUsers">
          <td>{{ student.name }}</td>
          <td><a :href=`mailto:${student.email}`>{{ student.email }}</a></td>
          <td>{{ student.ltv }}</td>
        </tr>
      </table>
      </div>
      <div v-show="!error" class="mb-5">
      <h3>Additional lessons</h3>
        <p v-show="days"> -- OUTPUT FOR {{ days*24 }} HOURS -- </p>
      <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">V3ID</th>
          <th scope="col">Views</th>
          <th scope="col">Recap</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="lesson in otherTopLessons">
          <td><a :href=`/lesson-redirect/${lesson}`>{{ lesson }}</a> </td>
          <td>{{ lessonViews[lesson] }}</td>
          <td><a :href="`/recap-content-list/${lesson}`">Recap</a></td>
        </tr>
      </table>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
