<div id="upload-files" v-cloak class="pt-3">

  <div class="container">
    <div class="container-sm">
      <h1>Recap File Upload</h1>
    </div>
    <div v-if="!formData.lessonId">
      <div class="container-sm">
        <form>
          <div class="form-group">
            <label for="tempLessonId">Lesson ID</label>
            <input type="text" class="form-control" id="tempLessonId" aria-describedby="tempLessonIdHelp" v-model="formData.tempLessonId">
            <small id="tempLessonIdHelp" class="form-text text-muted">Alpha numeric lesson id value</small>
          </div>
          <button class="btn btn-lg btn-success" @click.prevent="formData.lessonId = formData.tempLessonId">Confirm</button>
        </form>
      </div>
    </div>
    <div v-show="formData.lessonId">
      <h3>Uploading For Lesson ID: {{ formData.lessonId }}</h3>
      <form id="recap-file-upload" class="dropzone" action="/api/v1/recap/upload" method="post" enctype="multipart/form-data">
        <input type="text" name="lessonId" id="lesssonId" hidden="true" v-model="formData.lessonId"></form>
      </form>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
