<div id="upload-files" v-cloak>

  <div class="container">


    <h1>Recap File Upload</h1>
    <form action=""
          class="dropzone"
          id="recap-file-upload"></form>
  </div>

</div>
<script src="./js/utilities/dropzone-5.7.0/dropzone.min.js"></script>
<!--<style src="./js/utilities/dropzone-5.7.0/dropzone.min.css"></style>-->
<script>
  // "myAwesomeDropzone" is the camelized version of the HTML element's ID
  Dropzone.options.recapFileUpload = {
    params: {
      lessonId: 9999
    },
    paramName: "files", // The name that will be used to transfer the file
    maxFilesize: 50, // MB
    accept: function(file, done) {
      if (file.name == "justinbieber.jpg") {
        done("Naha, you don't.");
      }
      else { done(); }
    }
  };
</script>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
