<section class="section home">
    <div class="container">
        <div class="home__title">
            <h2 class="title">The Most Full-Featured <br> Resource for Language Teachers!</h2>
        </div>
    </div>
    <div class="container container__bg">
        <div class="home__content">
            <div class="home__mack">
                <img src="https://s3contents.chinesepod.com/img/academic/macbook.svg" alt="" class="home__img">
                <div class="home__content-video">

                    <script src="/instapage/academic_offers/1izx53804s.json" async=""></script>
                    <script src="/instapage/academic_offers/E-v1.js" async=""></script>
                    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
                        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                            <script src="https://fast.wistia.com/embed/medias/1izx53804s.jsonp" async></script>
                            <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                            <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
                                <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                    <div class="wistia_embed wistia_async_1izx53804s videoFoam=true" style="height:100%;position:relative;width:100%">
                                        <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                            <img src="https://fast.wistia.com/embed/medias/1izx53804s/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" onload="this.parentNode.style.opacity=1;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="home__desc">
                <ul class="home__list">
                    <li class="home__item">Engaging fun lessons</li>
                    <li class="home__item">On-Demand Content</li>
                    <li class="home__item">Over 4000 Lessons</li>
                    <li class="home__item">Wide range of levels</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section content">
    <div class="container">
        <h1 class="title title_big">Let us help you <br> enhance your lessons!</h1>
    </div>
    <div class="about-item about-item_1">
        <div class="about-item__bg">
            <img src="https://s3contents.chinesepod.com/img/academic/photo_1_file_cut.jpg" class="about-item__pic" alt="">
        </div>
        <div class="about-item__text">
            <h3 class="title about-item__title">Real language</h3>
            <div class="about-item__desc">
                We believe that students learn better from immersive experiences instead of traditional textbooks.
            </div>
            <div class="about-item__cit">
                ChinesePod creates Mandarin Chinese lessons with real language that native speakers use, not stiff,
                unnatural textbook phrases.
            </div>
        </div>
    </div>
    <div class="about-item about-item_right about-item_2">
        <div class="about-item__text">
            <h3 class="title about-item__title">Suited for all levels</h3>
            <div class="about-item__desc">
                Are the students that attend to your classes a mix of Chinese learners from a wide range of academics
                levels?
            </div>
            <div class="about-item__cit">
                Here at ChinesePod, we structured our lessons into levels. Newbie, Elementary, Pre-Intermediate,
                Intermediate, Upper-Intermediate, and
                Advanced, to better serve every one your students.
            </div>
        </div>
        <div class="about-item__bg">
            <img src="https://s3contents.chinesepod.com/img/academic/photo_2_file.jpg" class="about-item__pic" alt="">
        </div>
    </div>
    <div class="about-item about-item_3">
        <div class="about-item__bg">
            <img src="https://s3contents.chinesepod.com/img/academic/photo_3_file.jpg" class="about-item__pic" alt="">
        </div>
        <div class="about-item__text">
            <h3 class="title about-item__title">Easy to use</h3>
            <div class="about-item__desc">
                We provide over 4000 entertaining and practical audio &
                video lessons that make learning the Mandarin language fun.
            </div>
            <div class="about-item__cit">
                Simply, instruct your students to download a lesson, study it overnight, then break down the lesson in your
                next lecture. Each lesson also comes with downloadable dialogues, vocabulary, grammar and practical
                exercises.
            </div>
        </div>
    </div>

    <section class="form-section">
        <div class="container">
            <div class="form-section__contant">
                <div class="form-block form-section__form">
                    <div class="form-block__header">
                        <h3 class="form-block__title">Experience it by yourself, for a whole month!</h3>
                    </div>
                    <div class="form-block__content">
                        <div id="form-top-msg"></div>
                        <form id="form-top" action="">
                            <div class="form-block__row">
                                <div class="form-block__col">
                                    <label class="form-block__label">Name</label>
                                    <input type="text" name="first_name" placeholder="First Name" class="form-block__input">
                                </div>
                                <div class="form-block__col">
                                    <label class="form-block__label">School</label>
                                    <input type="text" name="school_name" placeholder="Name of your school" class="form-block__input">
                                </div>
                            </div>
                            <div class="form-block__row form-block__row_last">
                                <div class="form-block__col">
                                    <label class="form-block__label">Email Address</label>
                                    <input type="email" name="email" placeholder="Email@chinesepod.com" class="form-block__input">
                                </div>
                            </div>
                            <div class="form-block__row">
                                <div class="form-block__col">
                                    <button type="submit" id="btn-form-top-submit" class="form-block__button">Free one month demo!</button>
                                </div>
                            </div>
                        </form>
                        <div class="form-block__text">
                            Shortly after signing up a member of our team will contact you via email.
                        </div>
                        <div class="form-block__border"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="about-item about-item_right about-item_4">
        <div class="about-item__text">
            <h3 class="title about-item__title">Restricting courses are all over!</h3>
            <div class="about-item__desc">
                We all don’t listen to the same music, or like the same food so why should we be forced to follow a structured, monotonous curriculum when it comes to learning a language?
            </div>
            <div class="about-item__cit">
                With ChinesePod you have the freedom to take the Mandarin Chinese lessons that you find interesting, having
                the ability to study at your own pace.
            </div>
        </div>
        <div class="about-item__bg">
            <img src="https://s3contents.chinesepod.com/img/academic/photo_4_file.jpg" class="about-item__pic" alt="">
        </div>
    </div>
    <div class="about-item about-item_5">
        <div class="about-item__bg">
            <img src="https://s3contents.chinesepod.com/img/academic/photo_5_file.jpg" class="about-item__pic" alt="">
        </div>
        <div class="about-item__text">
            <h3 class="title about-item__title">Teach the topics you want!</h3>
            <div class="about-item__desc">
                With the largest library of Mandarin Chinese lessons, on and
                offline, you have 4000+ lessons at your fingertips.
            </div>
            <div class="about-item__cit">
                We challenge you to find a situation or topic we haven't already covered, and our library is always growing, updating on weekly basis.
            </div>
        </div>
    </div>
    <div class="about-item about-item_right about-item_6">
        <div class="about-item__text">
            <h3 class="title about-item__title">Train your ears not your eyes</h3>
            <div class="about-item__desc">
                Flashback to your were a childhood and learning your mother language for the first time: you started with listening, not reading.
            </div>
            <div class="about-item__cit">
                We believe that our audio and video lessons mimic the natural process of language acquisition that everyone goes through and are the best way to learn Chinese.
            </div>
        </div>
        <div class="about-item__bg">
            <img src="https://s3contents.chinesepod.com/img/academic/photo_6_file.jpg" class="about-item__pic" alt="">
        </div>
    </div>
    <div class="about-item about-item_7">
        <div class="about-item__bg">
            <img src="https://s3contents.chinesepod.com/img/academic/photo_7_file.jpg" class="about-item__pic" alt="">
        </div>
        <div class="about-item__text">
            <h3 class="title about-item__title">Native pronunciation</h3>
            <div class="about-item__desc">
                Access our specially designed video course "Say It Right (S.I.R)" entirely devoted towards teaching the correct pronunciation of the Chinese Mandarin Language.
            </div>
            <div class="about-item__cit">
                The "Say It Right (S.I.R)" video course contains 22 lessons, in which you will learn all about pinyin, tones, tricky combinations, tone change rules and difficult sounds. These lessons work to give you a comprehensive and unprecedented education on the most daunting aspect of learning Chinese.
            </div>
        </div>
    </div>
    <div class="container">

        <div class="content__resorces">
            <div class="resorces">
                <div class="resorces__photo">
                    <img src="https://s3contents.chinesepod.com/img/academic/resources.jpg" alt="" class="resorces__img">
                </div>
                <div class="resorces__desc">
                    <p>Once you are finished with the video lesson, there is so much extra content waiting on our lesson’s page, including vocabulary, sentence reviews, and expansions, where we give further examples of the lesson’s grammatical structure and vocabulary in different context.</p>
                    <p>Endless enriching review opportunities and the option to download the audios and study them on the go!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section__mac">
    <div class="section__resources">
        <div class="container section__resources__container">
            <div class="section__resources__text">
                <div class="resources_slider_text_list">
                    <div class="resources_slider_text_item">
                        <h2 class="section__resources__title">Dialogue</h2>
                        <p>The Dialogue section provides an interactive transcript of the lesson. The Chinese characters are provided along with the English translation and pinyin to ease with pronunciation. It’s better to learn the target language in context but we provide a function to study each word separately too. Scrutinize each Chinese character by mousing over it to see the literal translation. You also have the option of toggling between Simplified and Traditional characters.</p>
                    </div>
                    <div class="resources_slider_text_item">
                        <h2 class="section__resources__title">Vocabulary</h2>
                        <p>Rote memorization is boring and not the most effective method, but we suggest using the supplementary vocabulary lists in conjunction with the audio or video to accelerate your rate of achieving language competency.</p>
                    </div>
                    <div class="resources_slider_text_item">
                        <h2 class="section__resources__title">Expansion</h2>
                        <p>Our expansion gives you the opportunity to learn target vocabulary taught in the lesson in other meaningful situations.</p>
                    </div>
                    <div class="resources_slider_text_item" id="greatest_carousel_item">
                        <h2 class="section__resources__title">Exercises</h2>
                        <p>Learn aurally then reinforce further with online worksheets and exercises. These include:</p>
                        <ul>
                            <li>Matching: Choose a word on the left side, then match it to the closest meaning on the right side.</li>
                            <li>Sentence Reordering: sentences are in the wrong order; move them into the correct order by clicking and dragging.</li>
                            <li>Dictation: Listen to the audio and type out what you hear.</li>
                            <li>Multiple Choice.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section__resources__slider">
                <div class="mac-slider">
                    <div class="mac-slider__container">
                        <img src="https://s3contents.chinesepod.com/img/academic/Carousell_Vocabulary_950x860.png" alt="" class="mac-slider__img">
                        <ul class="mac-slider__list">
                            <li class="mac-slider__item"
                                style="background-image: url('https://s3contents.chinesepod.com/img/corporate/carousel/dictionary.png')"></li>
                            <li class="mac-slider__item"
                                style="background-image: url('https://s3contents.chinesepod.com/img/corporate/carousel/vocabulary.png')"></li>
                            <li class="mac-slider__item"
                                style="background-image: url('https://s3contents.chinesepod.com/img/corporate/carousel/expansion.png')"></li>
                            <li class="mac-slider__item"
                                style="background-image: url('https://s3contents.chinesepod.com/img/corporate/carousel/exercises.png')" id="greatest_carousel_mac_item"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="form-section form-section_footer">
    <div class="container">
        <div class="form-section__contant">
            <div class="form-block form-section__form">
                <div class="form-block__header">
                    <h3 class="form-block__title">Experience it by yourself, for a whole month!</h3>
                </div>
                <div class="form-block__content">
                    <div id="form-bottom-msg"></div>
                    <form id="form-bottom" action="">
                        <div class="form-block__row">
                            <div class="form-block__col">
                                <label class="form-block__label">Name</label>
                                <input type="text" name="first_name" placeholder="First Name" class="form-block__input">
                            </div>
                            <div class="form-block__col">
                                <label class="form-block__label">School</label>
                                <input type="text" name="school_name" placeholder="Name of your school" class="form-block__input">
                            </div>
                        </div>
                        <div class="form-block__row form-block__row_last">
                            <div class="form-block__col">
                                <label class="form-block__label">Email Address</label>
                                <input type="email" name="email" placeholder="Email@chinesepod.com" class="form-block__input">
                            </div>
                        </div>
                        <div class="form-block__row">
                            <div class="form-block__col">
                                <button type="submit" id="btn-form-bottom-submit" class="form-block__button" data-loading-text="Loading...">Free one month demo!</button>
                            </div>
                        </div>
                    </form>
                    <div class="form-block__text">
                        Shortly after signing up a member of our team will contact you via email.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
