<div id="checkout" v-cloak>
  <div class="top-spacer"></div>
  <div class="container outer">
    <div v-if="trial" class="header">
      <h1>Start learning with your free trial today!</h1>
    </div>
    <div class="body">
      <ajax-form v-if="!cloudSuccess" name="ccForm" id="cc_form" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-submitting="handleSubmitting" :handle-parsing="handleParsingForm">
        <ul>
          <li class="billing-type">
            <div class="heading">
              <span class="number">1</span>
              <h3>Your billing cycle</h3>
            </div>
            <ul class="buttons">
              <li>
                <a @click="switchBilling('monthly')" class="btn rbtn-blue bill-time" :class="[billingCycle === 'monthly' ? 'active' : '']">Monthly - ${{ pricing[plan].monthly }}</a>
              </li>
              <li>
                <a @click="switchBilling('quarterly')" class="btn rbtn-blue bill-time" :class="[billingCycle === 'quarterly' ? 'active' : '']">Quarterly - ${{ pricing[plan].quarterly }}
                  <span>{{ pricing[plan].savingQ }}</span></a>
              </li>
              <li>
                <a @click="switchBilling('annually')" class="btn rbtn-blue bill-time" :class="[billingCycle === 'annually' ? 'active' : '']">
                  Annually - ${{ pricing[plan].annually }}
                  <span>{{ pricing[plan].savingA }}</span>
                </a>
              </li>
            </ul>

            <p v-if="!trial" class="note">When you click Join ChinesePod you’ll be charged $<span id="price">{{ pricing[plan][billingCycle] }}</span>.</p>

            <p v-if="trial" class="note">Don't worry you won't be charged until the end of your 14-day free trial.</p>

          </li>
          <li>
            <hr>
          </li>
          <li>
            <div class="heading">
              <span class="number">2</span>
              <h3>Your billing information</h3>
            </div>

            <div class="basic-info">
              <div class="row">
                <div class="col-lg-4 col-sm-4">
                  <label for="first-name">First Name<span class="required-mark">&nbsp;*</span></label>
                  <input type="text" name="first_name" placeholder="First Name" :class="[formErrors.fName ? 'is-invalid' : '']" v-model="formData.fName" required/>
                  <div class="invalid-feedback d-block" v-if="formErrors.fName">Please enter your first name.</div>
                </div>
                <div class="col-lg-4 col-sm-4">
                  <label for="last-name">Last Name<span class="required-mark">&nbsp;*</span></label>
                  <input type="text" name="last_name" placeholder="Last Name" :class="[formErrors.lName ? 'is-invalid' : '']" v-model="formData.lName" required/>
                  <div class="invalid-feedback d-block" v-if="formErrors.lName">Please enter your last name.</div>
                </div>
              </div>

              <!-- TODO ONLY FOR TEMPORARY ACCOUNTS-->
              <div v-if="needsAccount" class="row">
                <div class="col-lg-4 col-sm-4">
                  <label for="email">Email Address<span class="required-mark">&nbsp;*</span></label>
                  <input type="email" name="email" placeholder="email@domain.com" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress"  :required="needsAccount" :disabled="!needsAccount"/>
                  <div class="invalid-feedback d-block" v-if="formErrors.emailAddress">Please enter a valid email address.</div>
                </div>
              </div>

            </div>
          </li>
          <li v-if="needsAccount">
            <hr>
          </li>
          <li v-if="needsAccount" class="privacy">
            <div class="heading">
              <span class="number">3</span>
              <h3>Your privacy</h3>
            </div>
            <p class="note">
              <input type="checkbox" name="tos" id="termsofservice" v-model="formData.agreedToTerms" :required="needsAccount"/>
              <label for="termsofservice">&nbsp;&nbsp; I have read and agree to the <a href="/privacy/" target="_blank">Privacy Policy</a> and <a href="/terms/" target="_blank">Terms of Service</a> of ChinesePod LLC.</label><span
                class="required-mark">&nbsp;*</span></p>
            <div class="invalid-feedback d-block" v-if="formErrors.agreedToTerms">You need to accept the terms and policies of ChinesePod to create and account.</div>
          </li>
          <li>
            <hr>
          </li>
          <li class="payment-info">
            <div class="heading">
              <span v-if="!needsAccount" class="number">3</span>
              <span v-if="needsAccount" class="number">4</span>
              <h3>Your payment information</h3>
            </div>
            <p v-if="trial">Your card will not be charged for 14 days. If you cancel before then, your card won’t be charged.</br>
              You will be charged <b>
                <span class="price-switch total-amount">${{ pricing[plan][billingCycle] }} {{ billingCycle }}</span>
              </b> when your trial ends.</p>

            <p v-if="!trial && !pricing.discount">
              You will be charged <b>
                <span class="price-switch total-amount">${{ pricing[plan][billingCycle] - pricing.discount }} {{ billingCycle }}</span>
              </b> starting today.</p>
            <p v-if="!trial && pricing.discount">
              You will be charged <span class="price-switch total-amount font-weight-bold">${{ pricing[plan][billingCycle] - pricing.discount }} today</span>
                 and <span class="price-switch total-amount font-weight-bold">${{ pricing[plan][billingCycle] }} {{ billingCycle }}</span> afterwards.</p>
            <div v-if="promoShow">
              <p class="note">Do you have a Promo Code? <a @click="promoToggle = !promoToggle" class="ipc">Apply it here.</a>
            </div>

            <div v-show="promoToggle" class="row promotion-code">
              <div class="col-lg-4 col-sm-4">
                <label for="promotion_code">Promotion Code</label>
                <input type="text" id="promotionCode" name="promoCode"  :class="[formErrors.promoCode ? 'is-invalid' : '']" placeholder="Promotion Code" v-model.trim="formData.promoCode">
                <div v-if="formErrors.promoCode && promoLimit < 6" class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>Oh No!</strong>  Unfortunately this is not a valid code.
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div v-if="promoLimit > 5" class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>Oh No!</strong>  Unfortunately you've tried too many Promo Codes. Please check your code and try again later.
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4 mt-sm-4">
                <a @click="applyPromoCode" class="btn apply-pc-btn ajax-button mt-2" :class="[syncing ? 'syncing' : '', pricing.discount ? ['rbtn', 'disabled'] : 'rbtn-blue']">
                  <span class="button-text" v-if="!syncing && !pricing.discount"><slot name="default">Apply</slot></span>
                  <span class="button-loader clearfix" v-if="syncing">
                    <slot name="syncing-state">Applying...</slot>
                  </span>
                  <span class="button-text" v-if="!syncing && pricing.discount"><slot name="default"><i>Applied</i></slot></span>
                </a>
                <a v-show="pricing.discount" @click="formData.promoCode = ''; pricing.discount = 0" class="btn rbtn-red apply-pc-btn mt-2">
                  <span class="button-text"><slot name="default">Clear</slot></span>
                </a>
              </div>
            </div>

            <div class="payment-content-paypal">
              <div class="col-12 col-md-4">
                <button class="btn btn-lg btn-block btn-warning" :disabled="syncing"  @click.prevent="paypalCheckout()">
                  <div class="col-12">
                    <img class="img-fluid mx-auto d-block" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" alt="PayPal Logo">
                  </div>
                </button>
              </div>
              <div class="col-12 my-2 py-2">
                <div class="row">
                  <div class="col-5">
                    <hr/>
                  </div>
                  <div class="col-2 text-center font-weight-bold">
                    or
                  </div>
                  <div class="col-5">
                    <hr/>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group clearfix">
              <ul class="cards">
                <li>
                  <label for="payment-type-stripe"><img src="/images/cc/mastercard.svg"/></label>
                </li>
                <li>
                  <label for="payment-type-stripe"><img src="/images/cc/ae.svg"/></label>
                </li>
                <li>
                  <label for="payment-type-stripe"><img src="/images/cc/visa.svg"/></label>
                </li>
                <li>
                  <label for="payment-type-stripe"><img src="/images/cc/unionpay.svg"/></label>
                </li>
              </ul>
            </div>

            <!-- Used to display form errors. -->

            <div v-show="false" id="card-errors" class="alert alert-danger" role="alert"></div>
            <div class="payment-content-stripe">
              <div class="form-group clearfix pl-0">
                <label for="card-element">Card<span class="required-mark">&nbsp;*</span></label>
                <div id="card-element" class="form-control"></div>
                <div class="help-info"><img src="/images/question-mark.svg" alt="What is this ?">
                  <div id="tooltip-description">
                    <p>
                      <span class="text-white">What's this ?</span>
                      The CVC number is a 3 or 4 digit security code printed on the front or back of your card.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 payment-badge">
                  <img src="/images/secure-server.svg" width="167"/>
                </div>
                <div class="col-lg-3 payment-badge">
                  <img src="/images/powered-by-stripe.svg" width="180"/>
                </div>
              </div>
            </div>
          </li>
          <li>
            <hr>
          </li>
          <li class="join-cp">
            <div id="error"></div>
            <div class="col-12 col-md-4">
              <ajax-button id="cc-submit-button" :syncing="syncing" class="btn-block rbtn-blue payment-content-stripe">Join ChinesePod</ajax-button>
            </div>
            </br>
          </li>
        </ul>
      </ajax-form>
      <div v-show="cloudSuccess">
        <div class="jumbotron text-xs-center">
          <h1 class="display-3">Thank You!</h1>
          <p class="lead">You have successfully confirmed a subscription and will be redirected to <strong>ChinesePod Dashboard</strong>.</p>
          <hr>
          <a class="btn btn-primary btn-lg" href="https://chinesepod.com/dashboard" role="button">Get Started</a>
        </div>
      </div>
    </div>
  </div>

  <modal class="paymentError modal fade" v-if="modal==='paymentError'" @close="modal = ''" v-cloak>
    <div class="modal-header">
      <h2 class="modal-title">Error During Checkout</h2>
      <hr/>
      <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div v-if="needsAccount">
        <h5>We created a new account for you and sent a confirmation email. However, we encountered the following payment error:</h5>
        <br/>
      </div>
      <h5>{{ paymentErrors ? 'Unfortunately the subscription was not successful. This is the potential issue: ' + paymentErrors : 'An unknown error occurred during checkout. Please check your information and try again later' }}</h5>
    </div>
    <div class="modal-footer flex-row-reverse justify-content-between">
      <button type="button" data-dismiss="modal" class="btn btn-info">Close</button>
    </div>
  </modal>

  <modal class="loginModal modal fade" v-if="modal==='loginModal'" @close="modal = ''" v-cloak>
    <div class="container">
      <h2 class="text-center">Seems you already have account with us. Please sign in below.</h2>
      <div class="login-form-container">
        <hr/>
        <ajax-form action="login" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-errors.sync="formErrors" @submitted="loginForm()">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email address" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
            <div class="invalid-feedback" v-if="formErrors.emailAddress">Please provide a valid email address.</div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" autocomplete="current-password">
            <div class="invalid-feedback" v-if="formErrors.password">Please enter your password.</div>
          </div>
          <p class="text-danger" v-if="cloudError==='badCombo'"><small>The credentials you entered are not associated with an account. Please check your email and/or password and try again.</small></p>
          <p class="text-danger" v-else-if="cloudError"><small>An error occurred while processing your request. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.</small></p>
          <div class="form-group">
            <ajax-button :syncing="syncing" class="btn-dark btn-lg btn-block">Sign in</ajax-button>
          </div>
        </ajax-form>
        <p class="text-center"><a href="/accounts/resetpassword" target="_blank">Forgot your password?</a></p>
      </div>
    </div>
  </modal>

  <div id="cvvpopOver" class="d-none">
    <p>
      The Card Verification Number/Code anti-fraud system was created so that if someone gets possession of your credit card numbers they also need to have possession of your physical card in order to use the card.
      American Express calls it the CID (Card Identification Number). For MasterCard, it is the CVC2 (Card Validation Code). Visa calls this number the CVV2 (Card Verification Value).
    </p>
    <p>
      <strong>Visa and Mastercard</strong><br/>
      <img alt="Cv_vmccard" src="/images/cv_vmccard.gif" class="float-left">The verification number is a 3-digit number printed on the back of your card. It appears after and to the right of your card number.<br/>
    </p>
    <hr/>
    <p>
      <strong>American Express</strong><br/>
      <img alt="Cv_amexccard" src="/images/cv_amex_card.gif" class="float-left">The American Express verification number is a 4-digit number printed on the front of your card. It appears after and to the right of
      your card number.
    </p>
  </div>
</div>
<script src="https://js.stripe.com/v3/"></script>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
