<div id="checkout" v-cloak>
  <div class="top-spacer"></div>
  <div class="container outer">
    <div v-show="showTrialBanner" class="banner black" id="banner">
      <div class="container">
        <div class="flex">
          <div class="flex-item">
            <button href="/checkout?plan=premium&trial=yes" class="btn blue">Free Trial</button>
          </div>
          <div class="flex-item">
            <h2>The basic learner experience does not include free trial. We recommend you to try our <b class="blue">Premium Learner trial for 14 days.</b></h2>
            <p>You can always cancel or downgrade to Basic learner at any point before trial ends.</p>
          </div>
        </div>
      </div>
    </div>
    <div v-show="trial" class="header">
      <h1>Start learning with your free trial today!</h1>
    </div>
    <div class="body">
      <ajax-form name="ccForm" id="cc_form">
        <ul>
          <li class="billing-type">
            <div class="heading">
              <span class="number">1</span>
              <h3>Your billing cycle</h3>
            </div>
            <ul class="buttons">
              <li>
                <a href="#" class="rbtn-blue bill-time active">Monthly - ${{ pricing[plan].monthly }}</a>
              </li>
              <li>
                <a href="#" class="rbtn-blue bill-time " >Quarterly - ${{ pricing[plan].quarterly }}><span>1 Week Free</span></a>
              </li>
              <li>
                <a href="#" class="rbtn-blue bill-time ">
                  Annually - ${{ pricing[plan].annually }}
                  <span>Save $99</span>
                </a>
              </li>
            </ul>

            <p class="note">When you click Join ChinesePod you’ll be charged $<span id="price"><?= $this->isPremium ? config('pricing.monthly.premium') : config('pricing.monthly.basic'); ?></span>. <a
                href="#" class="ipc">Insert Promotion code.</a></p>


            <?php else: ?>


            <p class="note">Don't worry you won't be charged until the end of of your 14-day free trial. <a href="#" class="ipc">Insert Promotion code.</a></p>


            <?php endif; ?>


            <div class="row promotion-code">
              <div class="col-lg-4 col-sm-4">
                <label for="promotion_code">Promotion Code</label>
                <input type="text" id="promotionCode" name="promotion_code" placeholder="Promotion Code" value="">
                <span class="error-email">Please fill in your basic information first.</span>
              </div>
              <div class="col-lg-4 col-sm-4">
                <label></label>
                <a id="apply-pc-btn" onClick="applyPromoCode(event)" class="rbtn-blue">Apply</a>
              </div>
            </div>
          </li>
          <li>
            <hr>
          </li>
          <li>
            <div class="heading">
              <span class="number">2</span>
              <h3>Your basic information</h3>
            </div>

            <div class="basic-info">
              <div class="row">
                <div class="col-lg-4 col-sm-4">
                  <label for="first-name">First Name<span class="required-mark">&nbsp;*</span></label>
                  <input type="text" name="first_name" placeholder="First Name" value="<?= $this->first_name ?>" required/>
                </div>
                <div class="col-lg-4 col-sm-4">
                  <label for="last-name">Last Name<span class="required-mark">&nbsp;*</span></label>
                  <input type="text" name="last_name" placeholder="Last Name" value="<?= $this->last_name ?>" required/>
                </div>
              </div>


              <?php if ($this->isTemporary) { ?>


              <div class="row">
                <div class="col-lg-4 col-sm-4">
                  <label for="email">Email Address<span class="required-mark">&nbsp;*</span></label>
                  <input type="email" name="email" placeholder="email@chinesepod.com" value="<?= $this->email ?>" required/>
                </div>
                <div class="col-lg-4 col-sm-4">
                  <label for="password">Password<span class="required-mark">&nbsp;*</span></label>
                  <input type="password" name="password" placeholder="Password" required/>
                </div>
              </div>

              <?php } else { ?>

              <div class="row">
                <div class="col-lg-4 col-sm-4">
                  <input type="hidden" name="email" placeholder="email@chinesepod.com" value="<?= $this->email ?>" required/>
                  </br>
                </div>
              </div>


              <?php } ?>


            </div>
          </li>
          <li>
            <hr>
          </li>
          <li class="privacy">
            <div class="heading">
              <span class="number">3</span>
              <h3>Your privacy</h3>
            </div>
            <p class="note">
              <input type="checkbox" name="tos" id="termsofservice" required/>
              <label for="termsofservice">&nbsp;&nbsp; have read and agree to the <a href="/privacy/">Privacy Policy</a> and <a href="/terms/">Terms of Service</a> of ChinesePod LLC.</label><span
                class="required-mark">&nbsp;*</span></p>
          </li>
          <li>
            <hr>
          </li>
          <li class="payment-info">
            <div class="heading">
              <span class="number">4</span>
              <h3>Your payment information</h3>
            </div>


            <?php if ($this->isPremium && $this->isTrial) { ?>


            <p>Your card won’t be charged for 14 days, If you cancel before then, your card won’t be charged.</br>
              You will be charged <b>
                <span class="price-switch monthly total-amount">$<?= $this->isPremium ? config('pricing.monthly.premium') : config('pricing.monthly.basic') ?> per month</span>
                <span class="price-switch quarterly hide">$<?= $this->isPremium ? config('pricing.quarterly.premium') : config('pricing.quarterly.basic') ?> quarterly</span>
                <span class="price-switch yearly hide">$<?= $this->isPremium ? config('pricing.yearly.premium') : config('pricing.yearly.basic') ?> per year</span>
              </b> when your trial ends.</p>


            <?php } elseif ($this->isPremium) { ?>

            <?php } elseif (!$this->isPremium) { //basic ?>


            <p>
              You will be charged <b>
                <span class="price-switch monthly total-amount">$<?= $this->isPremium ? config('pricing.monthly.premium') : config('pricing.monthly.basic') ?> per month</span>
                <span class="price-switch quarterly hide">$<?= $this->isPremium ? config('pricing.quarterly.premium') : config('pricing.quarterly.basic') ?> quarterly</span>
                <span class="price-switch yearly hide">$<?= $this->isPremium ? config('pricing.yearly.premium') : config('pricing.yearly.basic') ?> per year</span>
              </b> starting today.</p>


            <?php } ?>


            <div class="form-group clearfix">
              <ul class="cards">
                <li><input id="payment-type-stripe" type="radio" name="payment-type" value="stripe" checked="checked"/></li>
                <li>
                  <label for="payment-type-stripe"><img src="/images/cc/mastercard.svg"/></label>
                </li>
                <li>
                  <label for="payment-type-stripe"><img src="/images/cc/ae.svg"/></label>
                </li>
                <li>
                  <label for="payment-type-stripe"><img src="/images/cc/visa.svg"/></label>
                </li>
              </ul>
              <ul class="cards">
                <li><input id="payment-type-paypal" type="radio" name="payment-type" value="paypal"/></li>
                <li>
                  <label for="payment-type-paypal"><img src="/images/cc/paypal.svg"/></label>
                </li>
              </ul>
            </div>
            <div class="payment-content-stripe">
              <div class="form-group clearfix pl-0">
                <label for="card-element">Card<span class="required-mark">&nbsp;*</span></label>
                <div id="card-element" class="form-control"></div>
                <div class="help-info"><img src="/images/question-mark.svg" alt="What is this ?">
                  <div id="tooltip-description">
                    <p>
                      <span class="text-white">What's this ?</span>
                      The CVC number is a 3 or 4 digit security code printed on the front or back of your card.
                    </p>
                  </div>
                </div>
                <span class="stripe-success visible">
                            <span class="token"></span>
                        </span>
                <span class="stripe-error visible"></span>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label id="zip-label" for="zipcode">Postal Code<span class="required-mark">&nbsp;*</span></label>
                    <input type="text" name="zipcode" placeholder="Zip" required/>
                  </div>
                </div>
                <div class="col-lg-3 payment-badge">
                  <img src="/images/secure-server.svg" width="167"/>
                </div>
                <div class="col-lg-3 payment-badge">
                  <img src="/images/powered-by-stripe.svg" width="180"/>
                </div>
              </div>
            </div>
            <div class="payment-content-paypal d-none">
              <span>When you click "<b>Join ChinesePod</b>" below we'll take you to PayPal's site to set up your billing information.</span>
              </br></br>
            </div>
          </li>
          <li>
            <hr>
          </li>
          <li class="join-cp">
            <div id="error"></div>
            <a id="cc-submit-button" href="#" class="rbtn-blue payment-content-stripe">Join ChinesePod</a>
            <a class="btn rbtn-blue payment-content-paypal d-none" href="javascript:;" id="paypal-submit-button">Join ChinesePod</a>
            </br>
            <div class="payment-content-stripe">


              <?php if ($this->isPremium && $this->isTrial) { ?>


              <p>When you click Join ChinesePod your 14-day trial will begin and you won’t be charged
                <span class="price-switch monthly total-amount">$<?= $this->isPremium ? config('pricing.monthly.premium') : config('pricing.monthly.basic') ?></span>
                <span class="price-switch quarterly hide">$<?= $this->isPremium ? config('pricing.quarterly.premium') : config('pricing.quarterly.basic') ?></span>
                <span class="price-switch yearly hide">$<?= $this->isPremium ? config('pricing.yearly.premium') : config('pricing.yearly.basic') ?></span>
                until <?= date('M d, Y', strtotime('+14 day')) ?>.</p>


              <?php } elseif ($this->isPremium) { ?>
              <?php } elseif (!$this->isPremium) { ?>


              <p>When you click Join ChinesePod you’ll be charged
                <span class="price-switch monthly total-amount">$<?= $this->isPremium ? config('pricing.monthly.premium') : config('pricing.monthly.basic') ?>.</span>
                <span class="price-switch quarterly hide">$<?= $this->isPremium ? config('pricing.quarterly.premium') : config('pricing.quarterly.basic') ?>.</span>
                <span class="price-switch yearly hide">$<?= $this->isPremium ? config('pricing.yearly.premium') : config('pricing.yearly.basic') ?>.</span>
              </p>


              <?php } ?>


            </div>
          </li>
        </ul>
      </ajax-form>
    </div>
  </div>

  <div id="cvvpopOver" class="d-none">
    <p>
      The Card Verification Number/Code anti-fraud system was created so that if someone gets possession of your credit card numbers they also need to have possession of your physical card in order to use the card.
      American Express calls it the CID (Card Identification Number). For MasterCard, it is the CVC2 (Card Validation Code). Visa calls this number the CVV2 (Card Verification Value).
    </p>
    <p>
      <strong>Visa and Mastercard</strong><br/>
      <img alt="Cv_vmccard" src="/images/cv_vmccard.gif" class="float-left">The verification number is a 3-digit number printed on the back of your card. It appears after and to the right of your card number.<br/>
    </p>
    <hr/>
    <p>
      <strong>American Express</strong><br/>
      <img alt="Cv_amexccard" src="/images/cv_amex_card.gif" class="float-left">The American Express verification number is a 4-digit number printed on the front of your card. It appears after and to the right of
      your card number.
    </p>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
