<div id="checkout" v-cloak>
  <div class="top-spacer"></div>
  <div class="container outer">
    <div v-if="trial && plan !== 'premium'" class="banner black" id="banner">
      <div class="container">
        <div class="flex">
          <div class="flex-item">
            <a href="/checkout?plan=premium&trial=yes" class="btn blue">Free Trial</a>
          </div>
          <div class="flex-item">
            <h2>The basic learner experience does not include free trial. We recommend you to try our <b class="blue">Premium Learner trial for 14 days.</b></h2>
            <p>You can always cancel or downgrade to Basic learner at any point before trial ends.</p>
          </div>
        </div>
      </div>
    </div>
    <div v-if="trial" class="header">
      <h1>Start learning with your free trial today!</h1>
    </div>
    <div class="body">
      <ajax-form v-if="!cloudSuccess" name="ccForm" id="cc_form" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-submitting="handleSubmitting" :handle-parsing="handleParsingForm">
        <ul>
          <li class="billing-type">
            <div class="heading">
              <span class="number">1</span>
              <h3>Your billing cycle</h3>
            </div>
            <ul class="buttons">
              <li>
                <a @click="switchBilling('monthly')" class="rbtn-blue bill-time" :class="[billingCycle === 'monthly' ? 'active' : '']">Monthly - ${{ pricing[plan].monthly }}</a>
              </li>
              <li>
                <a @click="switchBilling('quarterly')" class="rbtn-blue bill-time" :class="[billingCycle === 'quarterly' ? 'active' : '']">Quarterly - ${{ pricing[plan].quarterly }}<span>1 Week Free</span></a>
              </li>
              <li>
                <a @click="switchBilling('annually')" class="rbtn-blue bill-time" :class="[billingCycle === 'annually' ? 'active' : '']">
                  Annually - ${{ pricing[plan].annually }}
                  <span>Save $99</span>
                </a>
              </li>
              <li>
                <a @click="trial = !trial" class="rbtn-blue bill-time">
                  Toggle Trial
                </a>
              </li>
              <li>
                <a @click="needsAccount = !needsAccount" class="rbtn-blue bill-time">
                  Needs Account
                </a>
              </li>
            </ul>

            <p v-if="!trial" class="note">When you click Join ChinesePod you’ll be charged $<span id="price">{{ pricing[plan][billingCycle] }}</span>.</p>

            <p v-if="trial" class="note">Don't worry you won't be charged until the end of your 14-day free trial.</p>

          </li>
          <li>
            <hr>
          </li>
          <li>
            <div class="heading">
              <span class="number">2</span>
              <h3>Your basic information</h3>
            </div>

            <div class="basic-info">
              <div class="row">
                <div class="col-lg-4 col-sm-4">
                  <label for="first-name">First Name<span class="required-mark">&nbsp;*</span></label>
                  <input type="text" name="first_name" placeholder="First Name" v-model="formData.fName" required/>
                </div>
                <div class="col-lg-4 col-sm-4">
                  <label for="last-name">Last Name<span class="required-mark">&nbsp;*</span></label>
                  <input type="text" name="last_name" placeholder="Last Name" v-model="formData.lName" required/>
                </div>
              </div>

              <!-- TODO ONLY FOR TEMPORARY ACCOUNTS-->
              <div v-if="needsAccount" class="row">
                <div class="col-lg-4 col-sm-4">
                  <label for="email">Email Address<span class="required-mark">&nbsp;*</span></label>
                  <input type="email" name="email" placeholder="email@domain.com" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress"  :required="needsAccount"/>
                  <div class="invalid-feedback" v-if="formErrors.emailAddress">Please enter a valid email address.</div>
                </div>
                <div class="col-lg-4 col-sm-4">
                  <label for="password">Password<span class="required-mark">&nbsp;*</span></label>
                  <input type="password" name="password" placeholder="Password" :required="needsAccount" v-model.trim="formData.password"/>
                </div>
              </div>

            </div>
          </li>
          <li v-if="needsAccount">
            <hr>
          </li>
          <li v-if="needsAccount" class="privacy">
            <div class="heading">
              <span class="number">3</span>
              <h3>Your privacy</h3>
            </div>
            <p class="note">
              <input type="checkbox" name="tos" id="termsofservice" :required="needsAccount"/>
              <label for="termsofservice">&nbsp;&nbsp; have read and agree to the <a href="/privacy/" target="_blank">Privacy Policy</a> and <a href="/terms/" target="_blank">Terms of Service</a> of ChinesePod LLC.</label><span
                class="required-mark">&nbsp;*</span></p>
          </li>
          <li>
            <hr>
          </li>
          <li class="payment-info">
            <div class="heading">
              <span v-if="!needsAccount" class="number">3</span>
              <span v-if="needsAccount" class="number">4</span>
              <h3>Your payment information</h3>
            </div>
            <p v-if="trial">Your card will not be charged for 14 days, If you cancel before then, your card won’t be charged.</br>
              You will be charged <b>
                <span class="price-switch total-amount">${{ pricing[plan][billingCycle] }} {{ billingCycle }}</span>
              </b> when your trial ends.</p>

            <p v-if="!trial">
              You will be charged <b>
                <span class="price-switch total-amount">${{ pricing[plan][billingCycle] - pricing.discount }} {{ billingCycle }}</span>
              </b> starting today.</p>
            <div v-if="promoShow">
              <p class="note">Do you have a Promo Code? <a @click="promoToggle = !promoToggle" class="ipc">Apply it here.</a>
            </div>

            <div v-show="promoToggle" class="row promotion-code">
              <div class="col-lg-4 col-sm-4">
                <label for="promotion_code">Promotion Code</label>
                <input type="text" id="promotionCode" name="promoCode"  :class="[formErrors.promoCode ? 'is-invalid' : '']" placeholder="Promotion Code" v-model.trim="formData.promoCode">
                <div v-if="formErrors.promoCode && promoLimit < 6" class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>Oh No!</strong>  Unfortunately this is not a valid code.
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div v-if="promoLimit > 5" class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>Oh No!</strong>  Unfortunately you've tried too many Promo Codes. Please check your code and try again later.
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <a id="apply-pc-btn" @click="applyPromoCode" class="btn rbtn-blue ajax-button" :class="[syncing ? 'syncing' : '']">
                  <span class="button-text" v-if="!syncing"><slot name="default">Apply</slot></span>
                  <span class="button-loader clearfix" v-if="syncing">
                    <slot name="syncing-state">
                      <div class="loading-dot dot1"></div>
                      <div class="loading-dot dot2"></div>
                      <div class="loading-dot dot3"></div>
                      <div class="loading-dot dot4"></div>
                    </slot>
                  </span>
                </a>
              </div>
            </div>

            <div class="form-group clearfix">
              <ul class="cards">
                <li>
                  <label for="payment-type-stripe"><img src="/images/cc/mastercard.svg"/></label>
                </li>
                <li>
                  <label for="payment-type-stripe"><img src="/images/cc/ae.svg"/></label>
                </li>
                <li>
                  <label for="payment-type-stripe"><img src="/images/cc/visa.svg"/></label>
                </li>
              </ul>
            </div>

            <!-- Used to display form errors. -->
            <div v-show="false" id="card-errors" class="alert alert-danger" role="alert"></div>
            <div class="payment-content-stripe">
              <div class="form-group clearfix pl-0">
                <label for="card-element">Card<span class="required-mark">&nbsp;*</span></label>
                <div id="card-element" class="form-control"></div>
                <div class="help-info"><img src="/images/question-mark.svg" alt="What is this ?">
                  <div id="tooltip-description">
                    <p>
                      <span class="text-white">What's this ?</span>
                      The CVC number is a 3 or 4 digit security code printed on the front or back of your card.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 payment-badge">
                  <img src="/images/secure-server.svg" width="167"/>
                </div>
                <div class="col-lg-3 payment-badge">
                  <img src="/images/powered-by-stripe.svg" width="180"/>
                </div>
              </div>
            </div>
            <div class="payment-content-paypal d-none">
              <span>When you click "<b>Join ChinesePod</b>" below we'll take you to PayPal's site to set up your billing information.</span>
              </br></br>
            </div>
          </li>
          <li>
            <hr>
          </li>
          <li class="join-cp">
            <div id="error"></div>
            <ajax-button id="cc-submit-button" :syncing="syncing" class="rbtn-blue payment-content-stripe">Join ChinesePod</ajax-button>
            </br>
            <div class="payment-content-stripe">
              <div v-if="trial">
                <p>When you click Join ChinesePod your 14-day trial will begin and you won’t be charged
                  <span class="price-switch total-amount">${{ pricing[plan][billingCycle] }}</span>
                  until <%= new Date(Date.now() + 14 * 24 * 60 * 60 * 1000).toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric'}) %>.</p>
              </div>
              <div v-if="!trial">
                <p>When you click Join ChinesePod you’ll be charged
                  <span class="price-switch total-amount">${{ pricing[plan][billingCycle] - pricing.discount }}.</span>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </ajax-form>
      <div v-show="cloudSuccess">
        <div class="jumbotron text-xs-center">
          <h1 class="display-3">Thank You!</h1>
          <p class="lead">You have successfully confirmed a subscription and will be redirected to <strong>ChinesePod Dashboard</strong>.</p>
          <hr>
          <a class="btn btn-primary btn-lg" href="https://chinesepod.com/dashboard" role="button">Get Started</a>
        </div>
      </div>
    </div>
  </div>

  <modal class="paymentError modal fade" v-if="modal==='paymentError'" @close="modal = ''" v-cloak>
    <div class="modal-header">
      <h2 class="modal-title">Payment Error</h2>
      <hr/>
      <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <h5>{{ paymentErrors }}</h5>
    </div>
    <div class="modal-footer flex-row-reverse justify-content-between">
      <button type="button" data-dismiss="modal" class="btn btn-info">Close</button>
    </div>
  </modal>

  <div id="cvvpopOver" class="d-none">
    <p>
      The Card Verification Number/Code anti-fraud system was created so that if someone gets possession of your credit card numbers they also need to have possession of your physical card in order to use the card.
      American Express calls it the CID (Card Identification Number). For MasterCard, it is the CVC2 (Card Validation Code). Visa calls this number the CVV2 (Card Verification Value).
    </p>
    <p>
      <strong>Visa and Mastercard</strong><br/>
      <img alt="Cv_vmccard" src="/images/cv_vmccard.gif" class="float-left">The verification number is a 3-digit number printed on the back of your card. It appears after and to the right of your card number.<br/>
    </p>
    <hr/>
    <p>
      <strong>American Express</strong><br/>
      <img alt="Cv_amexccard" src="/images/cv_amex_card.gif" class="float-left">The American Express verification number is a 4-digit number printed on the front of your card. It appears after and to the right of
      your card number.
    </p>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
