
<div id="corporate">
    <section class="section section__main py-xl-5" xmlns:v-bind="http://www.w3.org/1999/xhtml"
             xmlns:v-bind="http://www.w3.org/1999/xhtml">
        <div class="container container_flex-right py-xl-5 my-xl-5">
            <div class="about">
                <h2 class="about__title"> CORPORATE CLIENTS</h2>
                <div class="about__text"> Imagine being in the negotiating room with a foreign company and they speak
                    English, but you don't speak Chinese. You're at a disadvantage. Most companies realize this when it's too
                    late, then scramble to hire someone who can speak Mandarin, often sacrificing business acumen for
                    language skills. To succeed in any foreign market, businesses need people with talent AND language
                    skills. With China's growing economy, the need to communicate in Mandarin continues to soar!
                </div>
            </div>
        </div>
    </section>
    <section class="section section__lessons">
        <div class="container">
            <div class="lessons">
                <h2 class="lessons__title"> OVER 4000 LESSONS</h2>
                <div class="lessons__content">
                    <div class="lessons__left"> ChinesePod is a creative language learning platform perfect for employers
                        who are expanding their business in China. Through real life conversations and scenarios, ChinesePod
                        increases communication skills for travel and business connections. We offer special corporate
                        rates, tailored playlists and programs as well one-on-one instruction. For corporations looking for
                        complete all-encompassing programs, ChinesePod has an entire production and content creation team
                        available for developing custom training programs and videos for specific business needs.
                    </div>
                    <div class="lessons__right">
                        <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
                            <div class="wistia_responsive_wrapper"
                                 style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                <div class="wistia_embed wistia_async_24qbe8r6u1 videoFoam=true"
                                     style="height:100%;position:relative;width:100%">
                                    <div class="wistia_swatch"
                                         style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                        <img src="https://fast.wistia.com/embed/medias/24qbe8r6u1/swatch"
                                             style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                             alt=""
                                             onload="this.parentNode.style.opacity=1;"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section__mac">
        <div class="section__resources">
            <div class="container section__resources__container">
                <div class="section__resources__text">
                    <div class="resources_slider_text_list">
                        <div class="resources_slider_text_item">
                            <h2 class="section__resources__title"> Dialogue</h2>
                            <p> The Dialogue section provides an interactive transcript of the lesson. The Chinese
                                characters are provided along with the English translation and pinyin to ease with
                                pronunciation. It's better to learn the target language in context but we provide a function
                                to study each word separately too. Scrutinize each Chinese character by mousing over it to
                                see the literal translation. You also have the option of toggling between Simplified and
                                Traditional characters.</p>
                        </div>
                        <div class="resources_slider_text_item active">
                            <h2 class="section__resources__title"> Vocabulary</h2>
                            <p> Rote memorization is boring and not the most effective method, but we suggest using the
                                supplementary vocabulary lists in conjunction with the audio or video to accelerate your
                                rate of achieving language competency.</p>
                        </div>
                        <div class="resources_slider_text_item">
                            <h2 class="section__resources__title"> Expansion</h2>
                            <p> Our expansion gives you the opportunity to learn target vocabulary taught in the lesson in
                                other meaningful situations.</p>
                        </div>
                        <div class="resources_slider_text_item" id="greatest_carousel_item">
                            <h2 class="section__resources__title"> Exercises</h2>
                            <p> Learn aurally then reinforce further with online worksheets and exercises. These
                                include:</p>
                            <ul>
                                <li> Matching: Choose a word on the left side, then match it to the closest meaning on the
                                    right side.
                                </li>
                                <li> Sentence Reordering: sentences are in the wrong order; move them into the correct order
                                    by clicking and dragging.
                                </li>
                                <li> Dictation: Listen to the audio and type out what you hear.</li>
                                <li> Multiple Choice.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="section__resources__slider">
                    <div class="mac-slider">
                        <div class="mac-slider__container">
                            <img src="https://s3contents.chinesepod.com/img/corporate/bg/Carousell_Vocabulary_950x860.png"
                                 alt="" class="mac-slider__img">
                            <ul class="mac-slider__list">
                                <li class="mac-slider__item"
                                    style="background-image: url('https://s3contents.chinesepod.com/img/corporate/carousel/dictionary.png')"></li>
                                <li class="mac-slider__item"
                                    style="background-image: url('https://s3contents.chinesepod.com/img/corporate/carousel/vocabulary.png')"></li>
                                <li class="mac-slider__item"
                                    style="background-image: url('https://s3contents.chinesepod.com/img/corporate/carousel/expansion.png')"></li>
                                <li class="mac-slider__item"
                                    style="background-image: url('https://s3contents.chinesepod.com/img/corporate/carousel/exercises.png')"
                                    id="greatest_carousel_mac_item"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="resorces">
                <div class="resorces__photo">
                    <img src="https://s3contents.chinesepod.com/img/corporate/resources.jpg" alt=""
                         class="resorces__img">
                </div>
                <div class="resorces__desc">
                    <h3 class="resorces__title">ADDITIONAL RESOURCES</h3>
                    <ul class="resorces__list">
                        <li class="resorces__item"> Full Premium Access to our ChinesePod library of over 4000 lessons</li>
                        <li class="resorces__item"> Printable lessons notes</li>
                        <li class="resorces__item"> Vocabulary Manager, Flashcards and Writing Practice tools</li>
                        <li class="resorces__item"> Access to HD video lessons</li>
                        <li class="resorces__item"> Grammar and expansion sentence breakdown</li>
                        <li class="resorces__item"> Downloadable Lessons</li>
                        <li class="resorces__item"> ChinesePod App</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section section__tools">
        <div class="container container_flex-center">
            <div class="tools">
                <div class="tools" style="opacity: 1;">
                    <ul class="tools__list">
                        <li class="tools__item">
                            <div class="tools__img-container">
                                <img src="https://s3contents.chinesepod.com/img/corporate/Dictionary.svg" class=""
                                     alt="Dictionary">
                            </div>
                            <h3 class="tools__title">Dictionary</h3>
                            <div class="tools__desc"><p>Use our dictionary for your bidirectional language studies.
                                    Look up
                                    the interpretation or transfer meaning from one language to...</p></div>
                            <a class="btn btn_red" @click="openModal('dictionary')">Read
                                More</a>

                        </li>
                        <li class="tools__item">
                            <div class="tools__img-container">
                                <img src="https://s3contents.chinesepod.com/img/corporate/Pronunciation.svg"
                                     class=""
                                     alt="Pronunciation">
                            </div>
                            <h3 class="tools__title">Pronunciation</h3>
                            <div class="tools__desc"><p>Our site consistently ranks as one of the best for our
                                    methods and
                                    approach to pronunciation. At ChinesePod, we can help you le...</p></div>
                            <a class="btn btn_red" @click="openModal('pronunciation')"
                            >Read
                                More</a>

                        </li>
                        <li class="tools__item">
                            <div class="tools__img-container">
                                <img src="https://s3contents.chinesepod.com/img/corporate/Vocabulary.svg" class=""
                                     alt="Vocabulary">
                            </div>
                            <h3 class="tools__title">Vocabulary</h3>
                            <div class="tools__desc"><p>The vocabulary for all the lessons are available in our
                                    vocabulary
                                    manager. Generate your own flash card deck to study online w...</p></div>
                            <a class="btn btn_red" @click="openModal('vocabulary')"
                            >Read
                                More</a>

                        </li>
                        <li class="tools__item">
                            <div class="tools__img-container">
                                <img src="https://s3contents.chinesepod.com/img/corporate/Test.svg" class=""
                                     alt="Test">
                            </div>
                            <h3 class="tools__title">Testing</h3>
                            <div class="tools__desc"><p>ChinesePod doesn’t care about what score you receive. These
                                    tests
                                    are here for you to gauge your own abilities and test your un...</p></div>
                            <a class="btn btn_red" @click="openModal('test')">Read
                                More</a>

                        </li>
                    </ul>

                    <modal class="example-modal" v-if="modal==='dictionary'" @close="closeModal()" v-cloak>
                        <div class="modal-header">
                            <h2 class="modal-title">DICTIONARY</h2>
                            <hr/>
                            <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Use our dictionary for your bidirectional language studies. Look up the
                                interpretation or transfer meaning from one language to the other. You can
                                search
                                for words using either Chinese or English with our extensive glossary of
                                terms.
                                Furthermore, our dictionary offers a slew of sentences sourced from our
                                lesson
                                library that will give you awesome contextual opportunities to further
                                understand
                                whatever word you are searching for. There is nothing else like it on the
                                internet!</p>
                        </div>

                        <div class="modal-footer flex-row-reverse justify-content-between">
<!--                            <button type="button" data-dismiss="modal" class="btn btn-info">Close</button>-->
                            <button type="button" data-dismiss="modal" class="btn btn-outline-info">Close</button>
                        </div>
                    </modal><!-- /.modal -->
                    <modal class="example-modal" v-if="modal==='pronunciation'" @close="closeModal()" v-cloak>
                        <div class="modal-header">
                            <h2 class="modal-title">PRONUNCIATION</h2>
                            <hr/>
                            <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Our site consistently ranks as one of the best for our methods and approach
                                to
                                pronunciation. At ChinesePod, we can help you learn Mandarin pronunciation
                                the easy
                                way. Whether you're a newbie or an advanced student, our pronunciation
                                section has
                                something new and novel for you to discover. Furthermore, our Say It Right
                                series
                                provides a comprehensive, twenty-six lesson approach teaching you how to
                                sound like
                                a native.</p>
                        </div>
                        <div class="modal-footer flex-row-reverse justify-content-between">
<!--                            <button type="button" data-dismiss="modal" class="btn btn-info">Close</button>-->
                            <button type="button" data-dismiss="modal" class="btn btn-outline-info">Close</button>
                        </div>
                    </modal><!-- /.modal -->
                    <modal class="example-modal" v-if="modal==='vocabulary'" @close="closeModal()" v-cloak>
                        <div class="modal-header">
                            <h2 class="modal-title">VOCABULARY</h2>
                            <hr/>
                            <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>The vocabulary for all the lessons are available in our vocabulary manager.
                                Generate your own flash card deck to study online with ChinesePod or export
                                the deck to CSV.</p>
<!--                            <p class="text-center"><img src="/img/why-choose-us/vocabulary-screen.png"-->
<!--                                                        class="img-responsive center-block"></p>-->
                        </div>
                        <div class="modal-footer flex-row-reverse justify-content-between">
<!--                            <button type="button" data-dismiss="modal" class="btn btn-info">Close</button>-->
                            <button type="button" data-dismiss="modal" class="btn btn-outline-info">Close</button>
                        </div>
                    </modal><!-- /.modal -->
                    <modal class="example-modal" v-if="modal==='test'" @close="closeModal()" v-cloak>
                        <div class="modal-header">
                            <h2 class="modal-title">EXERCISES</h2>
                            <hr/>
                            <button type="button" class="modal-close-button" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>ChinesePod doesn’t care about what score you receive. These tests are here
                                for you
                                to gauge your own abilities and test your understanding of the hard work and
                                effort
                                you put into completing an academic level, giving you a benchmark to compare
                                how you
                                have progressed over time.</p>
                        </div>
                        <div class="modal-footer flex-row-reverse justify-content-between">
<!--                            <button type="button" data-dismiss="modal" class="btn btn-info">Close</button>-->
                            <button type="button" data-dismiss="modal" class="btn btn-outline-info">Close</button>
                        </div>
                    </modal><!-- /.modal -->

                </div>
            </div>
        </div>
    </section>

    <section class="section section_form">
        <div class="section_form_before">
            <div class="container_form container_flex-right container_flex-start">
                <div class="form">
                    <h2 class="form__title"> REQUEST A QUOTE - ASK US A QUESTION</h2>
                    <div class="form__border"></div>
                    <div class="form__container">
                        <div id="ip-msg">
                            <div v-if="msg" align="center" class="alert alert-success">
                                {{ msg }}
                            </div>
                        </div>
                        <ajax-form action="deliverContactFormMessage" :syncing.sync="syncing"
                                   :cloud-error.sync="cloudError" @submitted="submittedForm()"
                                   :handle-parsing="handleParsingForm">
                            <div class="form__row" :class="[formErrors.fullName ? 'form__row_error' : '']">
                                <div class="form__label-container">
                                    <div class="form__label">Name</div>
                                    <input type="text" id="full-name" name="full-name" v-model.trim="formData.fullName"
                                           class="form__input"
                                           placeholder="Full Name" value="">
                                    <span for="name" class="has-error"
                                          v-if="formErrors.fullName">Please enter your full name.</span>
                                </div>
                            </div>
                            <div class="form__row" :class="[formErrors.company ? 'form__row_error' : '']">
                                <div class="form__label-container">
                                    <div class="form__label">Company</div>
                                    <input type="text" name="company" v-model.trim="formData.company"
                                           class="form__input"
                                           placeholder="Company Name"
                                           value="">
                                    <span for="name" class="has-error"
                                          v-if="formErrors.company">Please enter your company name.</span>
                                </div>
                            </div>
                            <div class="form__row" :class="[formErrors.topic ? 'form__row_error' : '']">
                                <div class="form__label-container">
                                    <div class="form__label">Subject</div>
                                    <input type="text" id="topic" name="topic" v-model.trim="formData.topic"
                                           class="form__input"
                                           placeholder="Topic" value="">
                                    <span for="topic" class="has-error"
                                          v-if="formErrors.topic">Please enter a subject</span>
                                </div>
                            </div>
                            <div class="form__row" :class="[formErrors.emailAddress ? 'form__row_error' : '']">
                                <div class="form__label-container">
                                    <div class="form__label">Email</div>
                                    <input type="text" id="email-address" name="email-address"
                                           v-model.trim="formData.emailAddress" class="form__input"
                                           placeholder="Email@email.com" value="">
                                    <span for="email" class="has-error"
                                          v-if="formErrors.emailAddress">Please enter your email</span>
                                </div>
                            </div>
                            <div class="form__row" :class="[formErrors.message ? 'form__row_error' : '']">
                                <div class="form__label-container">
                                    <div class="form__label">Message</div>
                                    <textarea id="message" name="message" v-model.trim="formData.message"
                                              class="form__input form__input_text"
                                              placeholder="Type Your Message…"></textarea>
                                    <span for="email" class="has-error"
                                          v-if="formErrors.message">Please enter message</span>
                                </div>
                            </div>
                            <div class="form__row">
                                <ajax-button id="btn_ip_submit" class="btn btn_blue btn_big" type="submit"
                                        :syncing="syncing">
                                    Send
                                </ajax-button>
                                <input type="hidden" name="mobile_device" value="">
                            </div>
                        </ajax-form>
                    </div>
                </div>
            </div>
            <div class="container_carousel">
                <div class="partners">

                    <div class="jcarousel-wrapper">
                        <div class="jcarousel" data-jcarousel="true" data-jcarouselautoscroll="true">
                            <ul class="jcarousel-list" style="left: -11063px; top: 0px;"> <!--partners__list-->
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/citi_bank.png"
                                                 title="Citibank">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/costco.png"
                                                 title="Costco Wholesale">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/dell.png"
                                                 title="Dell">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/embassy_usa.jpg"
                                                 title="American Embassy (Beijing)">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/exxon.png"
                                                 title="Exxon Mobil">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/fedex.png"
                                                 title="Fedex">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/foreign_commonwealth_office.png"
                                                 title="Foreign and Commonwealth">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/hilton.png"
                                                 title="HILTON">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/merck.png"
                                                 title="MERCK &amp; CO. INC">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/metlife.png"
                                                 title="Metlife">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/home_depot.png"
                                                 title="Home Depot">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/hp.png"
                                                 title="Hewlett-Packard">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/jp_morgan_chase.png"
                                                 title="JP Morgan">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/maersk.png"
                                                 title="MAERSK">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/medtronic.png"
                                                 title="MEDTRONIC">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/samsung.png"
                                                 title="Samsung">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/state_farm.png"
                                                 title="State Farm">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/microsoft.png"
                                                 title="Microsoft">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/morgan_stanley.png"
                                                 title="MORGAN STANLEY">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/paypal.png"
                                                 title="PAYPAL">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/pepsico.png"
                                                 title="PEPSICO">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/phizer.png"
                                                 title="PFIZER INC">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/wells_fargo.png"
                                                 title="Wells Fargo">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/xfinity.png"
                                                 title="">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/target.png"
                                                 title="Target">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/ups.png"
                                                 title="UPS">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/verizon.png"
                                                 title="Verizon">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/virgin_mobile.png"
                                                 title="Virgin Mobile">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/walmart.png"
                                                 title="Walmart">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/wachovia.png"
                                                 title="Wachovia Corp.">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/yahoo.png"
                                                 title="Yahoo">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/abm-amro.png"
                                                 title="ABN AMRO">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/apple.png"
                                                 title="Apple">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/amway.png"
                                                 title="AMWAY">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/bank_of_america.png"
                                                 title="Bank of America">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/boeing.png"
                                                 title="Boeing">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/bp.png"
                                                 title="BP">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/camara_colombo_china.png"
                                                 title="Camara Colombo China de">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/cargill.png"
                                                 title="CARGILL, INC">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/capital_one.png"
                                                 title="Capital One">
                                        </span>
                                    </center>
                                </li>
                                <li style="width: 299px;">
                                    <center>
                                        <span class="car-item">
                                            <img src="https://s3contents.chinesepod.com/img/corporate/logo_corporate/chevron.png"
                                                 title="CHEVRON">
                                        </span>
                                    </center>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>


