<div id="secret-page" v-cloak>
  <div class="container text-center">
    <h1 class="mb-3">Most Popular Lesson of the Day - Premium Android Users</h1>
    <hr/>
    <h2 v-show="!isError">{{ lessonTitle }}</h2>
    <div class="help">
      <p v-show="isError">Sorry, seems something went terribly wrong. Please drop an email to <a href="mailto:ugis@chinesepod.com">ugis@chinesepod.com</a>.</p>
      <a v-show="!isError" class="btn btn-lg btn-outline-dark" href="/lesson-redirect?v3id={v3Id}">Go to Lesson</a>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
