<div id="secret-page" v-cloak>
  <div class="container text-center">
    <h1 class="mb-3">Most Popular Lesson of the Day <br> Paying Android Users</h1>
    <hr/>
    <div v-show="syncing">
      <i style="font-size: 100px !important;"class="fa fa-spinner fa-spin"></i>
    </div>
    <div v-show="!syncing">
      <h2 v-show="topLesson">Lesson V3ID: {{ topLesson }}</h2>
      <div class="help">
        <p v-show="!topLesson">Sorry, seems something went terribly wrong. Please drop an email to <a href="mailto:ugis@chinesepod.com">ugis@chinesepod.com</a>.</p>
        <a v-show="topLesson" class="btn btn-lg btn-outline-dark" :href="`/lesson-redirect?v3id=${topLesson}`">Go to Lesson</a>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
