<div id="secret-page" v-cloak>
  <div class="container text-center">
    <h1 class="mb-3">Most Popular Lesson of the Day <br> Paying Android Users</h1>
    <hr/>
    <div v-show="syncing">
      <i style="font-size: 100px !important;"class="fa fa-spinner fa-spin"></i>
    </div>
    <div v-show="!syncing">
      <div class="mb-5">
        <img :src=`https://s3contents.chinesepod.com/${topLesson.v3_id}/${topLesson.hash_code}/${topLesson.image}`>
      <h2>{{ topLesson.title }}</h2>
      <h3>V3ID: {{ topLesson.v3_id }}</h3>
      </div>
      <div class="mb-5">
      <div class="help">
        <p v-show="!topLesson">Sorry, seems something went terribly wrong. Please drop an email to <a href="mailto:ugis@chinesepod.com">ugis@chinesepod.com</a>.</p>
        <a v-show="topLesson" class="btn btn-lg btn-outline-dark" :href="`/lesson-redirect?v3id=${topLesson}`">Go to Lesson</a>
      </div>
      </div>
      <div class="mb-5">
      <h3>Lesson Viewers</h3>
      <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">LTV</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="student in topLessonUsers">
          <td>{{ student.name }}</td>
          <td><a :href=`mailto:${student.email}`>{{ student.email }}</a></td>
          <td>{{ student.ltv }}</td>
        </tr>
      </table>
      </div>
      <div class="mb-5">
      <h3>Additional lessons</h3>
      <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
          <th scope="col">V3ID</th>
          <th scope="col">Views</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="lesson in otherTopLessons">
          <td><a :href=`/lesson-redirect?v3id=${lesson}`>{{ lesson }}</a> </td>
          <td>{{ lessonViews[lesson] }}</td>
        </tr>
      </table>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
