<div id="promo" v-cloak class="memorial-day-promo">
  <div class="mx-3">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-2">
          <img class="img-fluid w-100" src="/images/promotions/memorial_day_top_banner.png" alt="PROMOTION BANNER">
        </div>
        <div class="col-12 my-3">
          <h1 class="text-center font-weight-bold">A Memorial Day Like No Other!</h1>
        </div>
        <div class="col-12 my-3 text-center">
          <h2 class="">
            Make this year a memorable one by BINGING WITH CHINESEPOD
          </h2>
          <h2 class="">
            Upgrade to PREMIUM and get uninterrupted content.
          </h2>
        </div>

        <%- partial('../../../partials/checkout-form-3-options.ejs') %>

        <div class="col-10 offset-1 col-md-4 offset-md-4 my-4">
          <img class="img-fluid" src="/images/brand/brand.svg" alt="ChinesePod" loading="lazy">
        </div>
      </div>
    </div>
  </div>
<!--  <img class="img-fluid w-100" src="/images/promotions/memorial_day_bottom_banner.png" alt="PROMOTION BANNER">-->
</div>
<script src="https://js.stripe.com/v3/"></script>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
