<div id="livestream" class="bg-gray-lighter min-vh-100" v-cloak>
  <div class="container">
    <h1 class="headline font-weight-bold text-center py-3">
      ADMIN | Livestream Panel
    </h1>
    <div class="text-center card p-2 mb-4 col-lg-10 offset-lg-1">
      <div class="row">
        <div class="col-12">
          <button class="btn btn-success float-right mb-2" @click="createStream()"><i class="fa fa-plus"></i> Create</button>
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Level</th>
              <th scope="col">Stream Start (EST)</th>
              <th scope="col">Web Promotion Start (EST)</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in streams">
              <th scope="row">{{ row.id }}</th>
              <td>{{ row.title }}</td>
              <td>{{ row.level }}</td>
              <td>{{ new Date(row.startTime).toLocaleString("en-US", {timeZone: "America/New_York", month: 'long', day: 'numeric', time: 'numeric', hour: 'numeric', minute: 'numeric', timeZoneName: 'short'}) }}</td>
              <td>{{ row.promoteFromShow ? new Date(row.promoteFrom).toLocaleString("en-US", {timeZone: "America/New_York", month: 'long', day: 'numeric', time: 'numeric', hour: 'numeric', minute: 'numeric', timeZoneName: 'short'}) : '' }}</td>
              <td>
                <button type="button" class="btn btn-danger btn-sm"  @click="deleteStream(row.id)"><i class="fa fa-trash"></i></button>
                <button type="button" class="btn btn-primary btn-sm" @click="editStream(row)"><i class="fa fa-edit"></i></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <modal class="editStream modal fade" v-if="modal==='editStream'" @close="modal = ''" v-cloak>
    <div class="container">
      <h2 class="text-center">Live stream information</h2>
      <hr/>
      <ajax-form action="saveLivestreamData" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-errors.sync="formErrors" @submitted="updateStreams()">
        <div class="form-group my-3">
          <label for="title">Title</label>
          <input id="title" type="text" class="form-control" placeholder="New Live Stream" v-model="formData.title">
        </div>
        <div class="form-group my-3">
          <label for="levelSelect">Level</label>
          <select class="custom-select" id="levelSelect" v-model="formData.level">
            <option selected>Choose...</option>
            <option value="newbie">Newbie</option>
            <option value="elementary">Elementary</option>
            <option value="pre-intermediate">Pre-Intermediate</option>
            <option value="intermediate">Intermediate</option>

            <option value="upper-intermediate">Upper Intermediate</option>
            <option value="advanced">Advanced</option>
            <option value="media">Media</option>
          </select>
        </div>
        <div class="form-group my-3">
          <label>Stream Start (EST)</label>
          <div class="col-12">
            <div class="row">
              <select class="custom-select col-12 col-md-2" v-model="formData.startYear" @change="updateStartTime()">
                <option value="" disabled>Year</option>
                <option value="2020" selected>2020</option>
                <option v-for="year in [2021, 2022]" :value="year">{{ year }}</option>
              </select>
              <select class="custom-select col-12 col-md-2" v-model="formData.startMonth" @change="updateStartTime()">
                <option value="" disabled selected>Month</option>
                <option v-for="month in [1,2,3,4,5,6,7,8,9,10,11,12]" :value="month">{{ month }}</option>
              </select>
              <select class="custom-select col-12 col-md-2" v-model="formData.startDay" @change="updateStartTime()">
                <option value="" disabled selected>Day</option>
                <option v-for="day in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]" :value="day">{{ day }}</option>
              </select>

              <select class="custom-select col-12 col-md-2" v-model="formData.startHour" @change="updateStartTime()">
                <option value="" disabled selected>Hour</option>
                <option v-for="hour in ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23']" :value="hour">{{ hour }}</option>
              </select>
              <select class="custom-select col-12 col-md-2" v-model="formData.startMinute" @change="updateStartTime()">
                <option value="" disabled selected>Minute</option>
                <option v-for="minute in ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14',
                '15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34',
                '35','36','37','38','39','40','41','42','43','44','45','46','47','48','49','50','51','52','53','54',
                '55','56','57','58','59']" :value="minute">{{ minute }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group my-3">
          <label>Web Promo (optional) (EST)</label>
          <div class="col-12">
            <div class="row">
              <select class="custom-select col-12 col-md-2" v-model="formData.promotionYear" @change="updatePromotionTime()">
                <option value="" disabled selected>Year</option>
                <option v-for="year in [2020, 2021, 2020]" :value="year">{{ year }}</option>
              </select>
              <select class="custom-select col-12 col-md-2" v-model="formData.promotionMonth" @change="updatePromotionTime()">
                <option value="" disabled selected>Month</option>
                <option v-for="month in [1,2,3,4,5,6,7,8,9,10,11,12]" :value="month">{{ month }}</option>
              </select>
              <select class="custom-select col-12 col-md-2" v-model="formData.promotionDay" @change="updatePromotionTime()">
                <option value="" disabled selected>Day</option>
                <option v-for="day in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]" :value="day">{{ day }}</option>
              </select>

              <select class="custom-select col-12 col-md-2" v-model="formData.promotionHour" @change="updatePromotionTime()">
                <option value="" disabled selected>Hour</option>
                <option v-for="hour in ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23']" :value="hour">{{ hour }}</option>
              </select>
              <select class="custom-select col-12 col-md-2" v-model="formData.promotionMinute" @change="updatePromotionTime()">
                <option value="" disabled selected>Minute</option>
                <option v-for="minute in ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14',
                '15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34',
                '35','36','37','38','39','40','41','42','43','44','45','46','47','48','49','50','51','52','53','54',
                '55','56','57','58','59']" :value="minute">{{ minute }}</option>
              </select>
            </div>
          </div>
        </div>
        <p class="text-danger" v-if="cloudError"><small>An error occurred while processing your request. Please check the form and try again.</small></p>
        <div class="form-group">
          <ajax-button :syncing="syncing" class="btn-primary btn-lg btn-block">Save Stream Info</ajax-button>
        </div>
      </ajax-form>
    </div>
  </modal>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
