<div id="valentines-day-gift-redeem-confirm" v-cloak>
  <div class="container p-3">
    <h1 class="headline font-weight-bold text-center py-4">
      Redeem your voucher!
    </h1>
    <div class="jumbotron-fluid jumbotron col-12 col-md-8 offset-md-2  col-lg-6 offset-lg-3 bg-white">
      <h1 class="font-weight-bold text-center py-2">
        We noticed an existing subscription!
      </h1>
      <h3 class="text-center p-5">
        You can either redeem your voucher now and replace your existing subscription.
        Or you can redeem your voucher at a later date. It will expire on xxxx-xx-xx, so you have time.
      </h3>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
